<div data-role="page" data-theme="b" id="feedbackSub" ng-controller="feedbackSubmitController">
	<style>
.fb_image{
background-image: url(/assets/sprite_mobile-6bfba079324854e85769319b79997717.png
);
background-position: 5px -477px;
cursor: pointer;
height: 56px;
width: 45px;
}
.twit_image{
background-image: url(/assets/sprite_mobile-6bfba079324854e85769319b79997717.png
);
background-position: -33px -477px;
cursor: pointer;
height: 56px;
width: 45px;
}
.google_image{
background-image: url(/assets/sprite_mobile-6bfba079324854e85769319b79997717.png
	);
	background-position: -84px -477px;
	cursor: pointer;
	height: 56px;
	width: 35px;
	}
	</style>
	<div data-role="content">
		<div class="username" style="padding:0;">
			<div class="signUp">
				THANKS!
			</div>
			<div class="clr"></div>
		</div>
		<div class="thanksMsg" align="center">
			<div class="innerDiv">
				Your feedback is appreciated! You've just earned
			</div>
		</div>
		<div align="center" class="pointsEarnedDiv">
			<div align="center" class="pointsEarned">
				{{points}}
			</div>
			<div class="points">
				POINTS
			</div>
			<div class="clr"></div>
			<div class="borderFeedBackSubmit"></div>
		</div>
		<div class="shareDiv" align="center">
			<div class="shareTxt">
				Share your experience
			</div>
			<div id="parent" style="overflow: hidden;width: 195px;margin: 0 auto;">
				<div ng-click="Facebook.share()" class="backColorYellow" style="float: left"><img src="/assets/icon_social_fb.svg" class="feedbackSocialIcons" />
					</div>
					<a id="twitter" data-url="false" href="javascript:void(0);" ng-click="twitter()">
					<div class="backColorYellow" style="float: left"><img src="/assets/icon_share_twitter.svg" class="feedbackSocialIcons" />
					</div></a>
					<a id="gogglePlus" href="javascript:void(0);" ng-click="google()"><div class="backColorYellow" style="float: left"><img src="/assets/icon_share_googleplus.svg" class="feedbackSocialIcons" />
					</div></a>
					<script type="text/javascript">
						(function() {
							var po = document.createElement('script');
							po.type = 'text/javascript';
							po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(po, s);
						})();
					</script>
			</div>
			<p id="fbShareSuccMsg" class="succMsg">
				Post to Facebook successfull!
			</p>
			<p id="tweetShareSuccMsg" class="succMsg">
				Post to Twitter successfull!
			</p>
			<p id="gPlusShareSuccMsg" class="succMsg">
				Post to Google+ successfull!
			</p>
			<div class="shareIconsDiv">
				<!-- <div class="backColorYellow">
				<div ng-click="facebook()" class="fb_image1"><img src="/assets/ic_fb_purple.png" />
				</div>
				</div>
				<div class="backColorYellow">
				<div ng-click="twitter()" class="twit_image1"><img src="/assets/ic_twitter_purple.png" />
				</div>
				</div>
				<div class="backColorYellow">
				<div ng-click="google()" class="google_image1"><img src="/assets/ic_gplus_purple.png" />
				</div>
				</div> -->
				<div class="clr"></div>
			</div>
		</div>

	</div>

	<div data-role="footer" class="footerDiv" >
		<div class="logo_btm">
			<!-- <img alt="Bird yellow k" src="/images/bird_yellow_k.png" /> -->
			<img src="/assets/icon_bird_thankyou.svg" style="height: 71px;" />
		</div>
		<div class="clr"></div>
		<div class="username">
			<div style="padding: 0 45%;">
				<img src="/assets/icon_home.svg" class="home" ng-click="home()"/>
			</div>
			<div class="clr"></div>
		</div>
	</div>

</div>
