<div data-role="page" data-theme="b" id="home" ng-controller="homeController">
	<style>
.setting {
/*background-image: url("/assets/icon_Setting.svg");
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 43px 42px;*/
    cursor: pointer;
    float: right;
    height: 35px;
    margin: 1% 0;
}
.calender{
/*background-image: url(
	);
	background-position: 0 0;
	background-repeat: no-repeat;*/
	/*cursor: pointer;
	float: right;
	height: 39px;
	margin-top: 2%;
	width: 45px;*/
	cursor: pointer;
    float: right;
    height: 35px;
    margin-right: 1%;
    margin-top: 2.4%;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<!-- <div class="setting" ng-click="setting()"></div> -->
			<img class="setting" src="/assets/icon_Setting.svg" ng-click="setting()" />
			<a ng-click="homeClk()">{{userName}}</a>
			<!-- <span class="role">{{role}}</span> -->
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div>
				<div class="number">
					{{points}}
				</div>
				<span class="points">POINTS</span>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr">
					<div class="count">
						{{feedbackSubmissions}}
					</div>
					<div class="descript">
						Feedback Submissions
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{aedSaved}}
					</div>
					<div class="descript">
						AED Saved
					</div>
				</div>
				<div class="backColr" style="border-right: medium none;">
					<div class="count">
						{{redeems}}
					</div>
					<div class="descript">
						Redemptions
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="whatLike">
				What would you like to do?
			</div>
			<div class="imgDiv">
				<div class="yellowBack" ng-click="feedback()">
					<div class="feedback">
						<!-- <img alt="Icon leavefeedback" src="/assets/icon_LeaveFeedback-7813d3ce17fdd71ce29859c43f319a52.svg" />. -->
						<img src="/assets/icon_LeaveFeedback.svg" style="height: 60px;" />
					</div>
					<span class="feedbackTxt">LEAVE FEEDBACK</span>
				</div>
				<div class="yellowBack" ng-click="redeemPoints()" style="border-right: medium none;">
					<div class="redeems">
						<img src="/assets/icon_redeempoints.svg" style="height: 60px;" />
						<!-- <img alt="B redeem points" src="/images/b_redeem_points.png" /> -->
						<!-- <img src="http://www.html5rocks.com/static/demos/svgmobile_fundamentals/images/HTML5-logo-granim.svg" height="64" alt="Nice green circle"/> -->
					</div>
					<span class="feedbackTxt">REDEEM POINTS</span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		
	</div>
	<div class="clr"></div>
	<div data-role="footer" class="bottomDiv" style="height:48px;">
			<div class="recentActDiv">
				<span class="recentAct">
					LAST USED ON
				</span>
				<span class="actDate">
					{{recentActivity | date:'dd.MM.yyyy'}}
				</span>
				<div class="clr"></div>
			</div>
			<!-- <div class="calender"></div> -->
			<!-- <img src="/assets/icon_redeem_calender.svg" class="calender" /> -->
			<div class="clr"></div>
		</div>
</div>