<div id="landPage" data-role="page" ng-controller="commonCtrl">
	<div data-role="content">
		<div class="logo">
			<img alt="Mobile logo" src="/assets/mobile_logo-dbe59e71b01578463caba3c1be70772a.svg" />
		</div>
		<div class="signIn">
			<div class="userClick">
				
				<div class="socialBtn" align="center">
					<!-- <div class="logIn" ng-click="emailCLick()" align="center">
					LOGIN
					</div> -->
					<a class="roundBtn margnRght" ng-click="emailCLick()"><img alt="Round login" src="/assets/round_login-f5424a341b0d67a3c7202f2ab64dad14.svg" /></a>
					<a class="roundBtn margnLeft" ng-click="signUpCLick()"><img alt="Round signup" src="/assets/round_signup-064acace69548b35bd62b07803773f5d.svg" /></a>
					<!-- <a class="roundBtn"><img alt="Round leavefeedback" src="/images/round_leavefeedback.png" /></a> -->
					<!-- <div class="logIn" ng-click="signUpCLick()">
					SIGNUP
					</div>
					<div class="logIn" >
					LEAVE FEEDBACK
					</div> -->
					<div class="clr"></div>
				</div>
				<span class="code">Have a code?</span>
				<div id="leaveFeedback" ng-click="leaveFeedback()" >Leave Feedback</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
</div>