<ul class="" ng-controller="sidePanelCtrl">
	<li class="active create_outlet">
		<a ng-click="getActive('create_outlet')">
			<img alt="Icon profile" src="/assets/icon_profile-b081658cd9edb8285d5d7eb973ea7c9a.png" />
			Profile<br/>
			<span>Name, Description and contact info</span>
		</a>
	</li>
	<li class="create_location">
		<a ng-click="getActive('create_location')">
			<img alt="Icon location" src="/assets/icon_location-96912d46f99a9031b13423a598b8d933.png" />
			Location<br/>
			<span>Specifi the exact location of your outlet</span>
		</a>
	</li>
	<li class="create_manager">
		<a ng-click="getActive('create_manager')">
			<img alt="Icon permissions" src="/assets/icon_permissions-678df3f7d5095ddd28776cb2537f7af5.png" />
			Permission<br/>
			<span>Set user permissions for your staff</span>
		</a>
	</li>
	<li class="create_report">
		<a ng-click="getActive('create_report')">
			<img alt="Icon reports" src="/assets/icon_reports-e423a847c321d46f14fe9ddba41ede6e.png" />
			Reports	<br/>		
			<span>Who gets the reports and hoe often</span>
		</a>
	</li>
</ul>