<div id="signIn" align="center" ng-controller="signInController" data-role="page">
	<div class="logo">
		<img alt="Mobile logo" src="/assets/mobile_logo-dbe59e71b01578463caba3c1be70772a.svg" />
	</div>
	<h1 class="loginTxt"> Log in to Kanari </h1>
	<div class="signInForm">
		<span class="arrow-up"><img alt="Arrowa" src="/assets/arrowa-1e46dbdf08bac2501fd3a94db16ade3f.png" /></span>
		<div>
			<input id="inputFields1" type="text" class="ui-input-text" placeholder="Tablet Login" ng-model="email">
		</div>
		<div>
			<input id="inputFields2" type="password" class="ui-input-text" placeholder="Password" ng-model="password">
		</div>
		
		<div class="checkboxFive">
			<input type="checkbox" value="1" id="checkboxFiveInput" name="" />
			<label for="checkboxFiveInput"></label>
		</div>
		<div class="rememberMe">
			<!-- <input type="checkbox" name="chkrememberMe" id="checkbox-1" class="custom" ng-model="rememberMe" />
			 --><label for="checkbox-1">Remember Me</label>
		</div>
		<div class="clr"></div>
		<div ng-click="chkLogin()" class="ui-btn">
			<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"> Login </span></span><button class="signInBtn btn ui-btn-hidden" type="submit"></button>
		</div>
	</div>
	<p ng-show="erromsg" class="errorMsg">
		{{error}}
	</p>
	<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel"></span>
		</div>
</div>