<div data-role="page" class="main_content span12" data-theme="b" id="createOutlet" ng-controller="takeTourCtrl">
	<div class="innerDiv" data-role="content">
		<div class="span4 divLeft takeTourSpan">
			<div ng-show="kanariWorks" ng-show="kanariWorks">
				<span>How Kanari works?</span>
			</div>
			<div id="register" ng-show="register">
				<span>How to Register?</span>
			</div>
			<div id="srchRestaurant" ng-show="srchRestaurant">
				<span>Search Restaurant?</span>
			</div>
			<div id="deals" ng-show="deals">
				<span>Available Deals</span>
			</div>
		</div>
		<div class="divRight" ng-include src ="'/rightSidePanel.html'" ></div>
		<div class="clr"></div>
	</div>
</div>

