<h2 style="font-family: Helvetica, Arial, FreeSans, sans-serif;font-size: 22px;font-weight: normal;margin-bottom: 20px;color: #5c4155 !important">Hello there!</h2>
<p style="font-family: Helvetica, Arial, FreeSans, sans-serif;font-size: 15px;color: #333333;margin: 1em 0;margin-bottom: 15px">You have been assigned as an Admin on Kanari.</p>
<p style="font-family: Helvetica, Arial, FreeSans, sans-serif;font-size: 15px;color: #333333;margin: 1em 0;margin-bottom: 15px">To start using Kanari, click the button below to confirm your account.</p>

<a class="redbutton button" href="<%= api_confirmation_mail_url(@resource, :confirmation_token => @resource.confirmation_token) %>" target="_blank" style="display: block;width: 220px;margin: 1em 0;margin-bottom: 15px;border-radius: 5px;box-shadow: none;font-family: Helvetica, Arial, FreeSans, sans-serif;font-size: 18px;line-height: 40px;background-color: #c84a58;color: white;text-decoration: none;text-align: center">Confirm my account</a>
