<div data-role="page" class="main_content span12" data-theme="b" id="login" ng-controller="paymentInvoiceCtrl">
	<div class="innerDiv" data-role="content">
		<h1>Payment Invoices</h1>
		<div data-role="fieldcontain" class="loginDiv">
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="kanari_invoice_id" class="passwordTxt" placeholder="Kanari Invoice Id"/>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<input data-theme="a" data-inline="true" type="date" name="txtPassword" ng-model="receipt_date" class="passwordTxt" placeholder="Receipt Date"/>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<input data-theme="a" data-inline="true" type="number	" name="txtPassword" ng-model="amount_paid" class="passwordTxt" placeholder="Amount Paid"/>
			</div>
			<input type="button" class="loginBtn" ng-click="payment_invoice()" data-inline="true" value="Create Payment Invooice" />
		</div>
		<p ng-show="paymentInvoiceSuccess">Payment Invoice Generated</p>
		<p ng-hide="paymentInvoiceSuccess"></p>
	</div>
</div>