<ul class="" ng-controller="sidePanelCtrl">
	<li class="active create_outlet">
		<a ng-click="getActive('create_outlet')">
			<img alt="Icon profile" src="/assets/icon_profile.png" />
			Profile<br/>
			<span>Name, Description and contact info</span>
		</a>
	</li>
	<li class="create_location">
		<a ng-click="getActive('create_location')">
			<img alt="Icon location" src="/assets/icon_location.png" />
			Location<br/>
			<span>Specifi the exact location of your outlet</span>
		</a>
	</li>
	<li class="create_manager">
		<a ng-click="getActive('create_manager')">
			<img alt="Icon permissions" src="/assets/icon_permissions.png" />
			Permission<br/>
			<span>Set user permissions for your staff</span>
		</a>
	</li>
	<li class="create_report">
		<a ng-click="getActive('create_report')">
			<img alt="Icon reports" src="/assets/icon_reports.png" />
			Reports	<br/>		
			<span>Who gets the reports and hoe often</span>
		</a>
	</li>
</ul>