<div data-role="page" data-theme="b" id="signedUp" ng-controller="signedUpController">
	<div data-role="content">
		<div class="signedUpCls">
			<div class="signUp">
				OK, you're done!
			</div>
		</div>
		<div class="outerDiv mainDiv">
			<span class="secondDiv thanks" ng-show="response">Thanks for confirming Email communication. Our manager will get back to you soon...</span>
			<span class="secondDiv thanks" ng-hide="response">Thanks for your support you rejected Email communication</span>
			<!-- <div class="proceedBtn">
				<input type="button" class="signBtn" ng-click="proceedAccount()" data-inline="true" value="LOG IN TO MY ACCOUNT"/>
			</div> -->
		</div>
		<p class="errorMsg" ng-show="errorMsg"></p>
		<p ng-hide="errorMsg"></p>
	</div>
	<div data-role="footer">
		<!-- <div class="tooltipCls">
			<img src="<%= asset_path "blurb_forget.svg" %>" class="logo_btm" />
		</div> -->
		<img src="<%= asset_path "login_bird.png" %>" class="logo_btm" />
	</div>
</div>
