<div data-role="page" data-theme="b" id="signedUp" ng-controller="signedUpController">
	<style>
		.email_reachout {
			background: none repeat scroll 0 0 #F5BA44;
		}
		.loginDiv{
			 width: 50%;
		}.innerDiv{
			margin: 0 auto;
			padding:75px 30px;
		}
		#common, body{
	background: none repeat scroll 0 0 #F5BA44;
}
	</style>
	<div data-role="content">
	<div class="desktopStyle loginDiv innerDiv" data-role="content" style="text-align: center;">
		<div class="headerLogo" align="center">
			<a class="kanarilogo" href="javascript:void(0);"><%= image_tag 'business_logo.svg' %></a>
		</div>
		<br/>
		<h2 class="confirmH2">Thanks for your response!</h2>
		</br/>
		<span class="secondDiv thanks" ng-show="response">The manager will be in touch with you via email.</span>
		<span class="secondDiv thanks" ng-hide="response">None of your details will be shared with the manager.</span>
			<!-- <span class="secondDiv thanks" >Thank you for your valuable feedback.</span> -->
	</div>
	<div class="mobileStyle">
		<div class="signedUpCls">
			<div class="signUp">
				Thanks for your response!
			</div>
		</div>

		<div class="outerDiv mainDiv">
			<!-- <span class="secondDiv thanks" >Thank you for your valuable feedback.</span> -->
			<span class="secondDiv thanks" ng-show="response">The manager will be in touch with you via email.</span>
		<span class="secondDiv thanks" ng-show="!response">None of your details will be shared with the manager.</span>
		</div>
	</div>	
	</div>
	<div data-role="footer" class="confirmationFooter">
		<img src="<%= asset_path "login_bird.png" %>" class="logo_btm" />
	</div>
</div>
