<div data-role="page" data-theme="b" id="feedback" ng-controller="feedbackController">
	<style>
.nextArrow{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -464px -608px;
	cursor: pointer;
	float: right;
	height: 23px;
	width: 21px;
	}
	::-webkit-input-placeholder { font-size: 80%; }
::-moz-placeholder { font-size: 80%; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 80%; } /* ie */
input:-moz-placeholder { font-size: 800%; }
	</style>
	<div data-role="content">
		<div class="username">
			<img src="<%= asset_path 'icon_home.svg' %>" class="home" ng-click="home()" />
			<div class="signUp" >
				LEAVE FEEDBACK
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div class="enter_code">
				<!-- Enter your code to proceed -->
				Ask for your Kanari Code and enter it here
			</div>
		<div ng-show="error" class="errorMsg" style="margin-top: -15px">
			{{errorMsg}}
		</div>
			<form>
			<div class="menDiv">
				<div class="backColr">
					<!-- {{digit1}} -->
					<input data-theme="a" class="txtPin" id="digit0" data-inline="true" type="number" maxlength="5" ng-model="digit1" placeholder="Enter Code"/>
				</div>
				<!-- <div class="backColr">
					
					<input data-theme="a" class="txtPin" id="digit1" data-inline="true" type="text" ng-change="focusNext()" onfocus="this.type='number';"  maxlength="1" ng-model="digit2"/>
				</div>
				<div class="backColr">
					
					<input data-theme="a" class="txtPin" id="digit2" data-inline="true" type="text" ng-change="focusNext()" onfocus="this.type='number';" maxlength="1"  ng-model="digit3"/>
				</div>
				<div class="backColr">
					
					<input data-theme="a" class="txtPin" id="digit3" data-inline="true" type="text" ng-change="focusNext()" onfocus="this.type='number';" maxlength="1"  ng-model="digit4"/>
				</div>
				<div class="backColr" style="border-right:0px solid #FFF">
					
					<input data-theme="a" class="txtPin"  id="digit4" data-inline="true" type="text" ng-change="focusNext()" onfocus="this.type='number';" maxlength="1" ng-model="digit5" />
				</div> -->
				<div class="clr"></div>
			</div>
		</div>
	<div id="keypadBtn" class="keypad">
			<div id="keypadBtn" class="nxt" ng-click="next()">
					SUBMIT
			</div>
				 <!-- <button id="enableBtn" class="btnFeedbackCode">
								Submit
				</button>  -->
			
			<!-- <div class="secondRow">
				<div class="backColr" id="1" ng-click="enterValues('1')">
					1
				</div>
				<div class="backColr" id="2" ng-click="enterValues('2')">
					2
				</div>
				<div class="backColr" id="3" ng-click="enterValues('3')">
					3
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" id="4" ng-click="enterValues('4')">
					4
				</div>
				<div class="backColr" id="5" ng-click="enterValues('5')">
					5
				</div>
				<div class="backColr" id="6" ng-click="enterValues('6')">
					6
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" id="7" ng-click="enterValues('7')">
					7
				</div>
				<div class="backColr" id="8" ng-click="enterValues('8')">
					8
				</div>
				<div class="backColr" id="9" ng-click="enterValues('9')">
					9
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="clearBackColr" id="clr" ng-click="clear()">

					C

				</div>
				<div class="backColr" style=" padding:  0;" ng-click="enterValues('0')">
					0
				</div>
				<div class="nextBackColr" ng-click="next()">
					<div style="margin: 35% 0 31% 22%;">
						<div class="nxtTxt">
							NEXT
						</div>
						<img style="vertical-align: middle;margin-left: 3.2%;margin-top:7%" src="<%= asset_path 'icon_arrow_right_purple_feedback.svg' %>"/>
						<div class="clr"></div>
					</div>
				</div>
				<div class="clr"></div>
			</div> -->
		</form>
		<!-- <div data-role="footer" class="footerDiv">
			<div id="keypadBtn" class="nxt" ng-click="next()">
				
					SUBMIT
				
			<div class="clr"></div>
			</div>
				<!-- <div id="keypadBtn" class="keypad">
			<input type="button" class="logBtn loginBtn" ng-click="next()" value="Submit"/>
			</div> 
		</div> -->
	</div>
	<div class="clr"></div>
