<div data-role="page" data-theme="b" id="forgotpass" ng-controller="forgotPasswordController">
	<div data-role="content">
	<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'icon_home_login.svg' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv loginDiv">
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="email" name="txtUsername" ng-model="email" placeholder="Email address"/>
			</div>
			<input type="button" class="signBtn" ng-click="sendLink()" data-inline="true" value="Submit" />
				<input type="button" class="cancelBtn" ng-click="cancel()" data-inline="true" value="Cancel" />
		</div>
		<p class="errorMsg" ng-show="erromsg">Invalid Email Id</p>
		<p class="sucsessMsg" ng-show="success" style="text-align: center;">If this address is registered with us you will receive an email from us with instructions to reset your password. Please make sure to check your junk mail folder as well.</p>
	</div>
	<div data-role="footer">
		<img src="<%= asset_path "icon_bird_login.svg" %>" class="logo_btm"/>		
	</div>
</div>
