<div data-role="page" data-theme="b" id="home" ng-controller="homeController">
	<style>
.setting {
    cursor: pointer;
    float: right;
    height: 35px;
    margin: 1% 0;
}
.calender{
	cursor: pointer;
    float: right;
    height: 35px;
    margin-right: 1%;
    margin-top: 2.4%;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<!-- <div class="setting" ng-click="setting()"></div> -->
			<img class="setting" src="<%= asset_path "icon_Setting.svg" %>" ng-click="setting()" />
			<a ng-click="homeClk()">{{userName}}</a>
			<!-- <span class="role">{{role}}</span> -->
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div>
				<div class="number">
					{{points}}
				</div>
				<span class="points">POINTS</span>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr">
					<div class="count">
						{{feedbackSubmissions}}
					</div>
					<div class="descript">
						Feedback Submissions
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{aedSaved}}
					</div>
					<div class="descript">
						AED Saved
					</div>
				</div>
				<div class="backColr" style="border-right: medium none;">
					<div class="count">
						{{redeems}}
					</div>
					<div class="descript">
						Redemptions
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="whatLike">
				What would you like to do?
			</div>
			<div class="imgDiv">
				<div class="yellowBack" ng-click="feedback()">
					<div class="feedback">
						<img src="<%= asset_path "icon_LeaveFeedback.svg" %>" style="height: 60px;" />
					</div>
					<span class="feedbackTxt">LEAVE FEEDBACK</span>
				</div>
				<div class="yellowBack" ng-click="redeemPoints()" style="border-right: medium none;">
					<div class="redeems">
						<img src="<%= asset_path "icon_redeempoints.svg" %>" style="height: 60px;" />
					</div>
					<span class="feedbackTxt">REDEEM POINTS</span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		
	</div>
	<div class="clr"></div>
	<div data-role="footer" class="bottomDiv" style="height:48px;">
			<div class="recentActDiv">
				<span class="recentAct">
					LAST USED ON
				</span>
				<span class="actDate">
					{{recentActivity | date:'dd.MM.yyyy'}}
				</span>
				<div class="clr"></div>
			</div>
			<div class="clr"></div>
		</div>
</div>