<div id="landPage" data-role="page" ng-controller="commonCtrl">
	<div data-role="content">
		<div class="logo">
			<%= image_tag 'mobile_logo.svg' %>
		</div>
		<div class="signIn">
			<div class="userClick">
				
				<div class="socialBtn" align="center">
					<a class="roundBtn margnRght" ng-click="emailCLick()"><%= image_tag 'round_login.svg' %></a>
					<a class="roundBtn margnLeft" ng-click="signUpCLick()"><%= image_tag 'round_signup.svg' %></a>
					<div class="clr"></div>
				</div>
				<span class="code">Have a code?</span>
				<div id="leaveFeedback" ng-click="leaveFeedback()" >Leave Feedback</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
</div>