<div data-role="page" data-theme="b" id="login" ng-controller="Login" class="main_content span12">
	<style>
		.span12 a.kanarilogo img {
			height: 35px;
			margin: 8px 0;
			width: 210px;
		}
	</style>
	<div class="loginDiv innerDiv" data-role="content" style="width: 33%;">
		<div class="outerDiv">
			<h1>Sign In</h1>
			<div class="clr"></div>
			<div class="innerLoginDiv">
				<p class="alreadyUser" ng-show="alreadyUser">
					Already a user? Log in to Kanari
				</p>
				<p class="alreadyUser" ng-show="congratsMsg">
					Congratulations, you have successfully created your Kanari for Business account! Use your email address and the password you created to log in to it and start using Kanari.
				</p>
				<form ng-app="form-example" class="row form-horizontal"  autocomplete="off" name="login" ng-submit="chkLogin(login)" novalidate>
					<div class="control-group">
						<div class="controls">
							<input type="email" id="inputEmail" placeholder="Email" ng-model="email" required>
							<div class="input-help">
								<h4>Invalid Email</h4>
							</div>
							<!-- <span class="star">*</span> -->
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input ng-model="password" class="" password-validate required type="password" id="inputPassword" placeholder="Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
							<!-- <span class="star">*</span> -->
						</div>
					</div>
					<div class="control-group rememberMe" style="margin-bottom: 10px;">
						<div class="controls">
							<fieldset class="paddingRememberMe" data-role="controlgroup">
								<input type="checkbox" name="chkrememberMe" id="checkbox-1" class="custom" ng-model="remember" />
								<label for="checkbox-1">Remember Me</label>
							</fieldset>
						</div>
					</div>
					<div class="control-group"  style="margin-bottom: 0px;">
						<div class="controls">
							<button id="enableBtn" type="submit" class="signInBtn btn">
								Sign in
							</button>
							<button id="disableBtn"  class="signInBtn btn" disabled>
								Sign in
							</button>
						</div>
					</div>
					<p class="forgotPass">
						<a href="#/forgot_pass" >Forgot your password?</a>
					</p>
					<p ng-show="erromsg" class="errorMsg">
						{{error}}
					</p>
				</form>

				<div class="clr"></div>
			</div>
		</div>
		<div class="logo_btm"></div>
	</div>
</div>
