<div data-role="page" data-theme="b" id="login" ng-controller="resetPassController">
	<div data-role="content">
		<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'icon_home.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv loginDiv">
			<!-- <div class="outerDiv loginDiv">
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="New Password"/>
				</div>
				<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>
				comment for checking
			</div> -->
			<div data-role="fieldcontain" class="loginDiv resetPass">
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="New Password"/>
				</div>
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>
				</br>
				<input type="button" class="loginBtn" ng-click="resetPass()" data-inline="true" value="Reset Password"/>
				<!-- <p class="errorMsg" ng-show="erromsg">
					{{error}}
				</p> -->
			</div>
			<p class="sucsessMsg" ng-show="success" style="text-align: center;">Your new password has been created and you can now log in to Kanari.</p>
			<p class="errorMsg" ng-show="erromsg">
				{{error}}
			</p>
		</div>
	</div>
</div>
