<div data-role="page" data-theme="b" id="signUp" ng-controller="signUpController">
	<div data-role="content">
		<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'icon_home_login.svg' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv">
			<p class="alreadyUser" ng-show="message">
				New to Kanari? Sign up
			</p>
			<p class="alreadyUser" ng-show="feedBackMsg">
				Thank you for leaving feedback. Sign up for earning points on your feedback
			</p>

			<div data-role="fieldcontain" class="loginDiv">
			<div class="ui-grid-a">
	            <div class="ui-block-a">
	                <input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
	            </div>

	            <div class="ui-block-b">
	               		<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name"/>
	            </div>       
            </div>
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email"/>
				</div>
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password"/>
				</div>
				<div class="ui-input-text ui-body-a ui-block-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confPassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>
				<div class="clr"></div>
				<div class="rememberMe acceptTerms">
					<fieldset data-role="controlgroup" class="chkbox">
						<input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" ng-model="acceptTerms" data-icon="check" />
						<div class="ui-btn ui-btn-icon-left ui-checkbox-off ui-corner-top ui-corner-bottom ui-controlgroup-last ui-btn-up-b"><label for="checkbox-1">I have read and accepted Kanari's</label>
						<a href="https://kanari.co/terms" class="userTerms">User Terms.</a></div>
					</fieldset>
				</div>
				<input type="button" class="signBtn" ng-click="signUp()" data-inline="true" value="SIGN UP" />
				<p class="errorMsg" ng-show="errorMsg">
					{{error}}
				</p>
				<!-- <div class="border"></div> -->
				<div class="clr"></div>
				<div class="or">
					or
				</div>
				<div class="fblogin clr" ng-click="Facebook.login()">
					<%= image_tag 'icon_loginwithfacebook.svg' %>
					<div>
						SIGN UP WITH FACEBOOK
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-role="footer">
		<div class="logo_btm">
			<img src="<%= asset_path "icon_bird_login.svg" %>" class="logo_btm" />	
		</div>
	</div>
</div>
