<div data-role="page" data-theme="b" id="signedUp" ng-controller="signedUpController">
	<div data-role="content">
		<div class="signedUpCls">
			<div class="signUp">
				You're almost there...
			</div>
		</div>
		<div class="outerDiv mainDiv">
			<span class="secondDiv thanks">Thanks for signing up!</span>
			<div class="secondDiv">
				We've sent a confirmation email to address you provided, just click on the link to get started.
			</div>
			<div class="proceedBtn">
				<input type="button" class="signBtn" ng-click="proceedAccount()" data-inline="true" value="Proceed to My Account"/>
			</div>
		</div>
		<p class="errorMsg" ng-show="errorMsg"></p>
		<p ng-hide="errorMsg"></p>
	</div>
	<div data-role="footer">
		<div class="tooltipCls">
			<img src="<%= asset_path "blurb_forget.svg" %>" class="logo_btm" />
		</div>
		<img src="<%= asset_path "login_bird.svg" %>" class="logo_btm" />
	</div>
</div>
