/* app css stylesheet */

body {
	margin: 0 !important;
	padding: 0 !important;
}
.clr {
	margin: 0;
	padding: 0;
	clear: both;
}
.header {
	background: none repeat scroll 0 0 #F5BA44;
	overflow: hidden
}
.welcome {
	float: right;
	display: none;
	margin-top: 70px;
	font-size: 12px;
}
.welcome a {
	text-decoration: none;
	color: #5A4166;
	font-weight: bold;
}
.welcome a:hover {
	text-decoration: none;
	color: #5A4166;
}
.welcome a.logOut {/*font-size: 11px;*/
	margin-left: 10px;
	cursor: pointer;
}
.welcome img {
	vertical-align: bottom;
}
.ngView {
	background: none repeat scroll 0 0 #E4E3E1;
	padding: 20px 0;
	color: #5A4166;
}
.main_content {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 10px;
}
.footer {
	background: none repeat scroll 0 0 #664766;
	color: #FFFFFF !important;
	overflow: hidden;
	padding: 10px 0;
	font-size: 14px;
}
.samePadding {
	padding: 0 150px
}
.content .span12 {
	margin: 0 7%;
}
.navBarCls {
	background: none repeat scroll 0 0 #664766;
	overflow: hidden;
	display: none;
}
.navBarCls .nav-tabs > li, .nav-pills > li {
	float: right
}
.navBarCls .nav-tabs > li > a {
	color: #FFFFFF;
	text-transform: uppercase;
	border-radius: 0 0 0 0;
}
.navBarCls .nav-tabs > li > a:hover {
	background: none repeat scroll 0 0 #E4E3E1;
	color: #5A4166;
	border: none;
}
.navBarCls .nav-tabs > li > a, .nav-pills > li > a {
	margin-right: 1px;
	padding: 2px 12px;
}
.navBarCls .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: #5A4166;
	padding: 2px 12px;
	background: none repeat scroll 0 0 #E4E3E1;
	 cursor: pointer !important;
}
.navBarCls .nav-tabs {
	border: none;
}

/***Login***/
.rememberMe input {
	float: left;
}
.rememberMe label {
	float: left;
}
.errorMsg {
	color: red
}
/***Home Page**/
.innerDiv {
	padding: 30px;
	min-height: 300px;
}
.divLeft {
	float: left !important;
	width: 50% !important;
}
.divRight {
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	float: right;
	height: 300px;
	padding: 10px;
}
.divRight span {
	font-weight: bold;
	padding: 5px 0 !important;
	border-bottom: 1px dotted #5A4166;
}
.divRight ul {
	margin: 5px 0 0 15px;
}
.divRight ul li {
	border-bottom: 1px dotted #5A4166;
	padding: 5px 0;
}
.main_content h1 {
	color: #5A4166;
	font-weight: normal;
}
.main_content span {
	color: #5A4166;
	font-size: 15px;
	padding: 25px 0 30px;
	display: block;
}
a.addRestaurant {
	background: none repeat scroll 0 0 #F5BA44;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	color: #94711F;
	font-size: 18px;
	padding: 5px 20px;
	float: left;
}
a.addRestaurant img{vertical-align: text-bottom;}
a.createPayment {
	float: left;
	 margin: 5px 10px;
}
a.addRestaurant:hover {
	color: #94711F;
	text-decoration: none;
}

/***createOutlet****/
#createOutlet .ui-input-data{padding: 5px 0;}
#createOutlet lable{ float: left;width: 130px;}
#createOutlet select{  width: 80px;}
.successMsg{color: green}
