/***Reset css ***/
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	font: 12px arial;
}
img {
	border: 0;
	vertical-align: top;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
:focus {
	outline: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {

	margin: 0;
	font-weight: normal;
}

/* Forms */
form {
	display: inline;
}
fieldset {
	border: 0;
}

/* Table */
table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}

/* Lists */
ul, ol {
	list-style: none;
}

/* Paragraphs */
p {
	margin: 0;
}
/* jquery mobile modified global classes starts here*/
.ui-body-c,
.ui-overlay-c {
	text-shadow: none ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-body-background-start}*/), to( #fff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/);
}
.ui-btn-up-c{ 
	text-shadow:none;
}
input.ui-input-text, textarea.ui-input-text {
	background: #fff;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border:0;
	color:#999;
	width:90%; 
	margin: 0 0 3%;
	padding: 3.5% 2.7%;
	font-size: 17px
}
.ui-btn {
	 box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width:96%; 
}
.ui-btn-inner{
 	border:0;
}
.ui-btn-hover-c  { 
	background: #6E4D6C;
	color:#fff;
	border:0;
	background-image:none;
	text-shadow:none;
}
.ui-icon {
	background: #664765;
}
.ui-checkbox input {
	left: 10px;
}
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
	left: 10px;
}
/* jquery mobile modified global classes ends here */

/* Common classes */
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.clr {
	clear: both;
}
.border {
	border: 1px solid #ccc
}

/* Body css starts here */
@font-face {
	font-family: kanariFont;
	src: url('Roboto-Regular.ttf');
}
@font-face {
	font-family: kanariLightFont;
	src: url('Roboto-Light.ttf');
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font:16px "kanariFont", sans-serif;
}
/* Body css ends here */

/* Validation CSS starts here*/
.errorMsg {
	color: #C64957;
	text-shadow: none;
	margin: 2% 12%;
}
/* Validation CSS ends here*/

/* Header css starts here */
#header_menu ul li{float: left;}
/*#header_menu img{display:block;}*/
#header_menu .ui-controlgroup-controls{ width: 100%; margin: 0 0.3%;}
#header_menu .ui-controlgroup-horizontal .ui-btn{width: 24.7%;}
#header_menu .ui-btn-up-c {
    background: none repeat scroll 0 0 #664766;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: none;
}
#header_menu .ui-btn-hover-c, #header_menu .ui-btn-active-c, #header_menu .uibtnactivec {
    background: none repeat scroll 0 0 #FEC03B;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: none;
}
/* Header css ends here */

/* Sign In css starts here */
#signIn {
	background: #FEBF3B;
	font-family: kanariLightFont;
}
.logo img {
	margin: 5% 0 0;
}

.loginTxt {
	color: #644766;
    font-size: 2em;
    margin: 5% 0 1%;
}
.signInForm {
	width: 35%;
	padding: 2% 0.5% 0.5%;
	border: 2px solid #D9A432;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.rememberMe {
	padding:1% 0 0;
}
.rememberMe label {
	display: inline;	
	color: #644766;
}
.rememberMe .ui-btn-text {
	 color: #666;
    font-size: 1.1em;
}
#signIn .ui-btn { 
	background: #6E4D6C;
	color:#fff;
	border:0;
	font-weight: normal;
}

/*Sign In css ends here */


/* Numeric Code CSS starts here	*/
.numericTxt{
	color:#363636;
		
}

/* Numeric Code CSS ends here	*/

