/***Reset css ***/
@font-face {
	font-family: myFirstFont;
	src: url('segoeuil_0.ttf'); /* IE9 */
}
@font-face {
	font-family: segoeuilbold;
	src: url('Segoe UI Semibold.ttf'); /* IE9 */
}
@font-face {
	font-family: number;
	src: url('open-sans.light.ttf');
}
@font-face {
	font-family: myriadpro;
	src: url('MYRIADPRO-REGULAR.OTF');
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	overflow: hidden;
}
.marginTop {
	margin: 95px auto 0em;
}
body {
	margin: 0;
	padding: 0;
	font-family: myFirstFont !important;
	font-size: 16px;
	/*font-family: 'Open Sans', sans-serif !important;*/
}
p {
	font-family: myFirstFont !important;
}
img {
	border: 0;
	vertical-align: top;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
:focus {
	outline: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {

	margin: 0;
	font-weight: normal;
}

/* Forms */
form {
	display: inline;
}
fieldset {
	border: 0;
}

/* Table */
table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}

/* Lists */
ul, ol {
	list-style: none;
}

/* Paragraphs */
p {
	margin: 0;
}
/* jquery mobile modified global classes starts here*/
.ui-body-c, .ui-overlay-c {
	text-shadow: none;
	font-family: myFirstFont;
	/*font-family: 'Roboto', sans-serif !important;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-body-background-start}*/), to( #fff /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* FF3.6 */
	background-image: -ms-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* IE10 */
	background-image: -o-linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image: linear-gradient( #fff /*{c-body-background-start}*/, #fff /*{c-body-background-end}*/);
}
.ui_btn {
	text-shadow: none;
}
input.ui-input-text, textarea.ui-input-text {
	background: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 0;
	color: #999;
	width: 90%;
	margin: 0 0 3%;
	padding: 3.5% 2.7%;
	font-size: 17px
}
.ui-btn {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	width: 96%;
}
.ui-btn-inner {
	border: 0;
}
.ui-btn-hover-c {
	background: #6E4D6C;
	color: #fff;
	border: 0;
	background-image: none;
	text-shadow: none;
}
.ui-btn-hover-c:hover {
	color: #fff;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: #664765 !important;
}
.ui-icon {
	/*background: #ffffff;*/
}
.ui-checkbox input {
	left: 10px;
}
.ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon {
	left: 10px;
}
.ui-btn {
	color: #fff;
	border: 0;
	font-weight: normal;
}
.ui-loader-default {
	opacity: 0.5;
}
/* jquery mobile modified global classes ends here */

/* Common classes starts here*/
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.clr {
	clear: both;
}
.border {
	border: 1px solid #ccc
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* close commented backslash hack */

/* Body css starts here */
/*@font-face {
 font-family: kanariFont;
 src: url('Roboto-Regular.ttf');
 }
 @font-face {
 font-family: kanariLightFont;
 src: url('Roboto-Light.ttf');
 }*/

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font: 16px;
}
/* Body css ends here */

/* Validation CSS starts here*/
.errorMsg {
	color: #C64957;
	text-shadow: none;
	margin: 2% 12%;
	font-size: 16px;
}
#overlaySuccess {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	text-align:center;
	/*background-color: #000;*/
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	/*z-index: 10;*/
}
#overlaySuccess img{display:none;margin-top:35%;}
/* Validation CSS ends here*/

/* Header css starts here */
#wrapper {
	bottom: 15px;
	left: 0;
	overflow: auto;
	/*position: absolute;*/
	top: 105px;
	width: 100%;
	/*z-index: 1;*/
}
#header_menu {
	/*overflow: visible;*/
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

#header_menu ul li {
	float: left;
}
/*#header_menu img{display:block;}*/
#header_menu .ui-controlgroup-controls {
	width: 100%;
	/*margin: 0 0.3%;*/
}

#header_menu .ui-btn {
	width: 100%;
}
#header_menu .headerDiv {
	float: left;
	margin-right: 1px;
	width: 22.8%;
	position: relative;
	text-align: center;
}
/*#header_menu .ui-controlgroup-horizontal .ui-btn {
 width: 23.7%;
 }*/
#header_menu .ui_btn, .popup button {
	background: none repeat scroll 0 0 #664766;
	border: none;
	color: #FFFFFF;
	display: block;
	text-align: center;
	font-weight: normal;
	text-shadow: none;
	border-radius: 5px 5px 5px 5px;
	padding: 0.6em 20px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}
.popup, .redeemptions {
	display: none;
}
/*.redeemptions{
	height:400px;
	overflow-y: scroll;
}*/
.panel
{
   width: 100%;
   height: 330px; /* fixed height of div */  
   -webkit-overflow-scrolling: touch; /* allow touch scrolling in webkit browsers */
 }           
 
 .overflow
 {
   overflow: scroll; /* set overflow to scroll for desktop browsers */
   overflow-x: hidden; /* hide scrollbar on x-axis */
 }

#scroller, #redemeDiv{
	transform: none !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
}

.popup button {
	width: 100%;
}
.popup h4 {
	font-size: 16px;
	text-align: center;
}
#header_menu .logoutDiv {
	text-align: center;
	width: 8.45% !important;
	margin-right: 0px;
	float: left;
}
#header_menu .logOut {
	background: none repeat scroll 0 0 #C9C7C8;
	padding: 2.1em 0.3%;
}
#header_menu .logoutDiv .ui-btn-inner {
	padding: 2.15em 0.1%;
}
#header_menu .ui_btn_hover, #header_menu .ui_btn_active, #header_menu .uibtnactivec {
	background: none repeat scroll 0 0 #FEC03B;
	border: none;
	border-radius: 5px 5px 5px 5px;
}
#header_menu .logout:hover {
	background: none repeat scroll 0 0 #C9C7C8;
}
.arrow-down {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #FEC03B;
	display: none;
	margin-top: 7px;
	position: absolute;
	height: 0;
	margin-left: -10px;
	width: 0;
	bottom: -10px;
	left: 50%;
}
.showArrow {
	display: block
}
.popup {
	background-color: #FFFFFF;
	border: 0 none;
	box-shadow: 2px 2px 2px #FFFFFF;
	left: 30%;
	top: 40%;
	padding: 1%;
	position: absolute;
	width: 40%;
	z-index: 11;
}
.redeemptions{
	background-color: #FFFFFF;
    border: 0 none;
    left: 2.5%;
    position: absolute !important;
    top: 5%;
    font-size: 16px;
    width: 95%;
    z-index: 11;
}

.ui-controlgroup, fieldset.ui-controlgroup {
	margin: 3px;
}
.btn {
	display: block;
	padding: 1%;
	width: 100%;
}
.popup .btn {
	background: none repeat scroll 0 center transparent;
	border: 0 none;
	display: block;
	margin: 4% 0;
	width: 48%;
}
.checkboxFive {
	float: left;
	margin-left: 2.5%;
	position: relative;
	width: 25px;
}
.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkboxFive label {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #fff;
	cursor: pointer;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px;
}
.checkboxFive label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}
/* Header css ends here */

/* Sign In css starts here */
.clsforLogin {
	background-color: #FEBF3B;
	height: 100%;
}
.clsafterLogin {
	background-color: transparent;
	position: absolute;
	height: auto;
}
.arrow-up {
	display: block;
	margin-left: 47%;
	top: -7px;
	position: absolute;
}
.logo img {
	height: 143px;
    margin: 5% 0 0;
    width: 215px;
}

.loginTxt {
	color: #644766;
	font-size: 2.5em;
	margin: 5% 0 2% 6px;
}
.signInForm {
	width: 35%;
	padding: 2% 0.5% 0.5%;
	border: 2px solid #D9A432;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	position: relative;
}

.rememberMe {
	overflow: hidden;
	padding: 1% 3%;
}

.rememberMe input {
	/*display: none;*/
	float: left;
	font-size: 110%;
	display: inline;
}
.rememberMe label {
	display: inline;
	color: #644766;
	font-size: 1.5em;
	float: left;
	margin-left: 2px;
}

#signIn .ui-btn {
	background: #6E4D6C;
	color: #fff;
	border: 0;
	font-weight: normal;
}
/*Sign In css ends here */

/*Insight css ends here */
.insight_graph {
	width: 100%;
}
.daily_change_span {
	float: right;
	text-align: left;
	padding-top: 30px;
	/*width: 21%;*/
}
.daily_change_span img {
	padding: 0 0;
}
.score_1 {
	background: none repeat scroll 0 0 #E6E7E9;
	border-radius: 5px 5px 5px 5px;
	margin: 0.51%;
	overflow: hidden;
	padding: 0 0 0 1%;
	border: 1px solid #C3C3C3;
}
.net_score {
	border-right: 1px solid #664766;
	float: left;
	/*height: 60px;*/
	margin-bottom: -1000px;
	padding-bottom: 1000px;
	padding-top: 30px;
	text-align: left;
	width: 49%;
}

.feedSub {
	padding-top: 0;
	width: 49.5%;
}
.daily_change_score {
	float: right;
	padding-top: 1%;
	text-align: right;
	width: 30%;
}
.net_promo_score {
	border-right: 1px solid #664766;
	float: left;
	height: 72px;
	margin-bottom: -1000px;
	padding: 0.5% 0 1000px;
	text-align: left;
	width: 49%;
}

.daily_change {
	float: left;
	text-align: right;
	width: 50%;
	/*padding: 1% 0;*/
}
.netScore {
	color: #664766;
	font-family: number;
	display: block;
	font-size: 45px;
	margin: 15px 0;
}
/*div.netScore {
	padding: 15%;
}*/
.txt1 {
	font-size: 20px;
	color: #000000;
}
.score_div .txt1 {
	font-size: 24px;
}
.value1 {
	font-size: 140%;
	font-family: number;
	color: #664766;
}
.score_final .value1 {
	display: block;
	font-size: 45px;
	margin: 15px 0;
}
.value2 {
	color: #664766;
	float: right;
	font-family: number;
	font-size: 140%;
}
.value3 {
	font-size: 275%;
}

.rate_plus {
	background: none repeat scroll 0 0 #FEC03B;
	float: left;
	margin-top: 30px;
}
.net_rate_plus {
	background: none repeat scroll 0 0 #FEC03B;
	float: left;
	/*margin-top: 5%;*/
	margin-top: 10%;
}

.net_rate_plus_red {
	background: none repeat scroll 0 0 #C84A58;
	float: left;
	/*margin-top: 5%;*/
	margin-top: 12%;
}
.ratePValue {
	background: none repeat scroll 0 0 transparent;
	color: #664766;
	font-weight: bold;
	margin-left: 3px;
}

.rate_minus {
	background: none repeat scroll 0 0 #C84A58;
	float: right;
	margin-top: 0%;
}
.rateMValue {
	background: none repeat scroll 0 0 transparent;
	color: #664766;
	font-family: number;
	font-weight: bold;
	margin-right: 3px;
}
.rate1V {
	width: 34%;
}
.rate2V {
	width: 27%;
}
.rate3V {
	width: 11%;
}
.rate4V {
	width: 12%;
}
.rate5V {
	width: 27%;
}
.rate6V {
	width: 81%;
}
.rate7V {
	width: 69%;
}
.main_score {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #C3C3C3;
	margin: 0 0.5%;
}
.score_div {
	overflow: hidden;
	padding: 0 0 0 1%;
	height: 80px;
	border-bottom: 1px solid #C3C3C3;
}
.score_final {
	background: none repeat scroll 0 0 #E6E7E9;
	border-top: 12px solid #D6D6D6;
	overflow: hidden;
}
.score_final .net_score, .score_final .daily_change {
	text-align: center;
}
/*Insight css ends here */

/* Numeric Code CSS starts here	*/

.succMsg {
	color: green;
	margin-top: 10px;
	/*text-align: left;*/
	/*font-size: 14px;*/
}
.codeGenerated {
	background: none repeat scroll 0 0 #EFEFEF;
	color: #664766;
	font-size: 153%;
	font-weight: bold;
	padding: 2.5% 0;
}
.numericTxt {
	color: #333;
	font-size: 1.5em;
	margin-bottom: 5%;
}
.loaderDiv {
	position: relative;
}
.loader {
	position: absolute;
	right: -19px;
	top: 13px;
}

.billAmountTxtBox {
	float: left;
}

.doneOterDiv .ui-btn {
	background: #FEC03B;
	color: #555;
}
.doneOterDiv {
	margin-top: 7%;
}
.numericCode .ui-input-text {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	padding: 3%;
	width: 93%;
}
.numericCode button.signInBtn {
	background: none repeat scroll 0 0 #FEC03B;
	border: medium none;
	border-radius: 0 0 0 0;
	color: #555555;
	font-size: 16px;
	margin: 7% 3.1% 0 0;
	padding: 10px 0;
	text-shadow: none;
}
.numericCode .ui-submit span.ui-btn-text {
	font-size: 1.1em;
}
.numericCodeContainer {
	width: 35%;
	margin-top: 9%;
}
.dateTimeList {
	 width: 100%;
	padding: 5% 0 3%;
}
.dateTimeListhead {
	color: #664766;
	font-weight: bold;
	
}
.dateTimeList .col1, .dateTimeList .col2 {
	padding: 2%;
	float: left;
	height: 18px;
	border: 1px solid #ccc;
	border-right: 0;
	border-top: 0;
	height: 18px;
}
.dateTimeList .col1 {
	width: 35%;
	text-align: left;
}
.dateTimeList .col2 {
	width: 18%;
}
.dateTimeList .colBorderTop {
	border-top: 1px solid #ccc;
	background: none repeat scroll 0 0 #EAEAEA;
	font-family: myriadpro;
}
.dateTimeList .colBorderRight {
	border-right: 1px solid #ccc;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
#scrollbar2{
	height:170px;
}
#scrollbar1{
	height:470px;
}
#scrollbar3{
	height:470px;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
#scrollbar2{
	height:480px;
}
#scrollbar1{
	height:720px;
}
#scrollbar3{
	height:730px;
}
}
/* Numeric Code CSS ends here	*/

/*Home Page CSS starts here*/
.home_page_view {
	width: 100%;
	/*height: 800px;
	 overflow-y: scroll;*/
}
.feedback_step {
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	overflow: hidden;
	padding: 1% 0;
	margin: 0.4% 0.6%;
	position: relative;
}
.feedback_step .divPadding {
	/*padding: 0 0 1000px 0;
	 margin-bottom: -1000px;*/
	/*font-weight: bold !important;*/
}
#refresh {
	float: right;
	margin-right: 15px;
	margin-bottom: 10px;
	text-shadow:none;
}

#refresh span{
	 /*background: none repeat scroll 0 0 #FEC03B;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: block;
    padding: 3% 3%;
    width: 100%;*/
   background: none repeat scroll 0 0 #FEC03B;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: block;
    font-size:18px;
    padding: 2% 2% 3%;
width: 100%;
}
.promo_code {
	float: left;
	width: 80px;
	/*height: 135px;*/
	padding: 1% 10px;
	color: #674665;
}
.promo_code_def {
	float: left;
	width: 240px;
	 margin-right: 15px;
	border-left: 1px solid #D6D6D6;
	border-right: 1px solid #D6D6D6;
}
.promo_code_desc {
	/*float: left;*/
	padding: 1% 15px;
	position: relative;
	text-align: left;
	/*width: 50%;*/
}
.update_time {
	bottom: 3%;
	position: absolute;
	right: 3%;
	 color: #999999;
    font-size: 14px;
}
.def_icon {
	float: left;
	margin: 3% 0;
	text-align: center;
	width: 76px;
	/*margin: 5px 17px;
	 text-align: center;
	 width: 90px;*/
	color: #999999;
}
.promo_txt {
	font-size: 20px;
	/*font-weight: bold;*/
	font-family: myriadpro;
	line-height: 10px;
}
.promo_value {
	font-size: 380%;
	font-family: number;
	display: block;
	margin-top: 25%;
}
/*Home Page CSS ends here*/

/* Redemptions css starts here */
.redemptionMsg {
	color: #664765;
	margin: 4% 0;
	vertical-align: middle;
}

.redemptionsList {
	width: 100%;
	text-align: center;
	color: #664766;
	font-size: 18px !important;
}
.redemptionsListRow {
	border-top: 1px solid #CCC;
	/*padding: 2% 1%;*/
	padding: 2% 0;
}
/*.redeemptions .redemptionsListRow {
	border-bottom: 1px solid #CCC;
}*/
.redemptHdr{
	font-weight:bold;
	 color: #664765;
    font-family: segoeuilbold;
    font-size: 18px;
	background: none repeat scroll 0 0 #EAEAEA;
	border-top: 1px solid #A4A4A4;
}
.closeBtn{
	position: absolute;
   right: -19px;
    top: -19px;
}
.redeemptions .redemptHdr{
	background: none repeat scroll 0 0 #EAEAEA;
	border-bottom:none;
	padding-left: 3%;
}
.redemptHdr .col, .redemptHdr .col3 {
	width: 20%;	
	float: left;
}
.redemptHdr .col{
	width: 28%;
	 text-align: left;
	 padding-left: 5%;
}
/*.redeemptions .redemptHdr .col3{
	float: left;
    text-align: left;
    width: 10%;
}*/
.redemptRow{
	padding-left: 3%;
}
.redeemptions .redemptHdr .col5, .redemptRow .col1{
	width : 26% !important;
	 text-align: left;
	 padding-left: 0 !important;
}

.redemptRow .col1{
	width : 26% !important;
}
.redeemptions .redemptHdr .col, .redemptRow .col2{
	width : 25% !important;
	text-align: left;
	padding-left: 0 !important;
}

.redeemptions .redemptHdr .col6, .redemptRow .col7{
	width : 11.5% !important; 
	 text-align: left;
}

.redemptHdr .col3{
	float: left;
}

.redemptHdr .col6{
	width: 22%;
	float: left;
}
.redemptHdr .col5{
	width: 25%;
	float: left;
}
.redemptionsListRow .col1, .redemptionsListRow .col2,.redemptionsListRow .col7, .redemptionsListRow .col4 {
	color: #2D2D2D;
    float: left;
    font-family: myFirstFont;
    font-size: 18px;
    text-align: center !important;
	/*font-size: 1.2em;*/
}
.redemptionsListRow .col1, .redemptionsListRow .col4  {
	width: 20%;
	text-transform: capitalize;
}
.redemptionsListRow .col1{
	width: 28%;
	 text-align: left !important;
	 padding-left: 5%;
}
.redemptionsListRow .col4 {
}
.redemptionsListRow .col2 {
	width: 25%;
	text-transform:capitalize;
	 text-align: left !important;
}

.redemptionsListRow .col7 {
	width: 22%;
	text-align: left !important;
}
.redemptionsListRow .textAlign{text-align: center !important}
/*.redemptionsListRow .col3 {
	width: 25%;
}
.redemptionsListRow .col4 {
	width: 25%;
}*/
.redemptionsListRow .col4 span {
	/*background: none repeat scroll 0 0 #FEC03B;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    padding: 0.5% 5%;
    width: 25%;*/
   background: none repeat scroll 0 0 #FEC03B;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font-size: 104%;
    padding: 1% 3%;
    width: 25%;
}
.redemptionsList:last-child {
	border-bottom: 1px solid #ccc;
}
/* Redemptions css ends here */

