/* Give the header a height and a background image */

/* Give basic styles to the body and the navigation */

@font-face {
	font-family: kanariFont;
	src: url('Roboto-Regular.ttf');
}
@font-face {
	font-family: kanariLightFont;
	src: url('Roboto-Light.ttf');
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font-family: "kanariFont", sans-serif !important;
}
/*.Roboto-normal-100 {
 font-family: 'Roboto' !important;
 font-style: normal;
 font-weight: 100;
 }*/

.genderBtn input::-webkit-input-placeholder {
	color: #F5C03F !important
}
.genderBtn input:-moz-placeholder { /* Firefox 18- */
	color: #F5C03F !important
}

.genderBtn input::-moz-placeholder {  /* Firefox 19+ */
 	color: #F5C03F !important
}

.genderBtn input:-ms-input-placeholder {  
   	color: #F5C03F !important 
}
.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button {
	font-family: "kanariFont", sans-serif !important;
}

.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {
	font-family: "kanariFont", sans-serif;
}

#splash, #login, #landPage, #forgotpass, #signUp {
	background: #F9C040 !important;
}

#settings {
	background-color: #E5E6E8 !important
}

#home, #feedback, #feedback_step2, #redeemPoints, #restaurantList, #feedbackSub, #showRestaurant, #transaction_history {

	background: #FFFFFF !important;
}
#settings .ui-field-contain input.ui-input-text {
	display: inline
}

.dob {
	float: left;
}

.dobDiv div.ui-input-text input.ui-input-text, .dobDiv div.ui-input-text textarea.ui-input-text, .dobDiv .ui-input-search input.ui-input-text {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	display: block;
	float: left;
	margin: 0;
	outline: 0 none !important;
	padding: 0.4em 0;
	width: 29% !important;
}

.dobDiv input::-moz-placeholder, .dobDiv textarea::-moz-placeholder {
	background: #664765;
}

.ui-content {
 	padding: 0 1.5%;
}

.roundBtn img {
	width: 30%;
}
.menDiv {
	width: 100%;
	margin: 3% 0 0;
}
.imgDiv {

}

.searchDiv .ui-corner-all {
	border-radius: 0;
}

.adviceDiv .ui-corner-all {
	border-radius: 0;
}

.instructionDiv .ui-corner-all {
	border-radius: 0;
}

.searchDiv .ui-body-a, .ui-overlay-a {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #E5E6E8 ),to( #E5E6E8 ));
	background-image: -webkit-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -moz-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -ms-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -o-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: linear-gradient( #E5E6E8,#E5E6E8 );
	border: none;
}

.adviceDiv .ui-body-a, .ui-overlay-a {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #E5E6E8 ),to( #E5E6E8 ));
	background-image: -webkit-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -moz-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -ms-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -o-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: linear-gradient( #E5E6E8,#E5E6E8 );
	border: none;
}

.instructionDiv .ui-body-a, .ui-overlay-a {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #E5E6E8 ),to( #E5E6E8 ));
	background-image: -webkit-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -moz-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -ms-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: -o-linear-gradient( #E5E6E8,#E5E6E8 );
	background-image: linear-gradient( #E5E6E8,#E5E6E8 );
	border: none;
	width: 78%;
}

.nameDiv {
	border-bottom: 2px solid #FFFFFF;
	color: #664765;
	float: left;
	text-shadow: none;
	width: 100%;
	overflow: hidden;
}
.pointsDiv {
	background-color: #FDBE3B;
	/*border-bottom: 2px solid #FFFFFF;*/
	color: #664765;
	float: left;
	margin-bottom: -1000px;
	padding: 5% 6% 1000px 4%;
	text-shadow: none;
	width: 36.5%;
}
.restAddr {
	padding-bottom: 5%;
}
.aedTxt {
	float: left;
	padding: 9% 0;
}

/***Transction history css ***/
.headDiv {
	color: #FFFFFF;
	margin-top: 4%;
}
.headTitle, .headTitleLast {
	background-color: #664765;
	border-right: 1px solid #FFFFFF;
	float: left;
	font-size: 0.7em;
	text-shadow: none;
	width: 33%;
}
.headTitleLast {
	border-right: 0 none;
	width: 33.3%;
}
.headTitle span, .contentText span, .headTitleLast span {
	display: block;
	padding: 16% 0 16% 7%;
	text-align: left;
}
.contentText span {
	padding: 12% 0 12% 7%;
}
.historyDataContainer {
	border-bottom: thin solid #eaeaea;
	padding: 2% 1%;
}
.contentText {
	color: #664765;
	float: left;
	font-size: 0.8em;
	text-align: left;
	text-shadow: none;
	width: 32.9%;
}

.recommendationDiv {
	margin: 2% 5%;
}

.parentDivName {
	border-right: 2px solid #FFFFFF;
	float: left;
	margin-bottom: -1000px;
	padding: 5% 0 1000px 2%;
	width: 51%;
}

.titleDiv {
	color: #664765;
}

.Ybar {
	background-color: #FDBE3B;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	float: left;
	margin-bottom: 2%;
	padding: 0.75%;
	text-align: center;
	width: 7%;
}
.Pbar {
	background-color: #664765;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	float: left;
	margin-bottom: 2%;
	padding: 0.75%;
	text-align: center;
	width: 7%;
}
.thanksMsg {
	color: #664765;
	margin: 5% 0 0;
}
.pointsEarned {
	color: #593F5A;
	font-size: 5em;
}
.pointsEarnedDiv {
	color: #664765;
}
.shareTxt {
	color: #664765;
}
.pointsTxt {
	color: #593F5A;
	font-size: 1.8em;
	float: right;
}

.thanksMsg {
	color: #664765;
	margin: 8% 0 0;
}
.pointsEarned {
	color: #593F5A;
	font-size: 5em;
}
.pointsEarnedDiv {
	color: #664765;
}
.shareTxt {
	color: #664765;
}

.backColorYellow {
	background-color: #F8BE40;
	width: 17%;
	display: inline-block;
	padding: 0.5% 0;
}
.shareIconsDiv {
	margin: 5% 0;
}

.borderFeedBackSubmit {
	border: 1px solid #593F5A;
	margin: 5% 0;
	width: 49%;
}
.thanksMsg div {
	width: 75%;
}

.yesNoDiv {
	color: #664765;
	margin: 0 0 0 0;
}

.no {
	float: left;
}

.yes {
	float: right;
	margin: 0 3% 0 0;
}
.yellowBorder {
	border: 1px solid #FDBE3B;
	margin: 4% 3% 7% 0;
}
.adviceDiv {
	color: #664765;
}

.adviceDiv .ui-shadow-inset {
	box-shadow: none;
}

.adviceDiv .ui-body-a, .ui-overlay-a {
	color: #664765;
	text-shadow: none;
	text-align: center;
	vertical-align: top;
}

.adviceDiv div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text {
	/*padding:4.5em 0;*/
	height: 150px;
}
.restListTitleDivLeft {
	background-color: #664765;
	border-right: 2px solid #FFFFFF;
	color: #FFFFFF;
	float: left;
	padding: 6% 0;
	text-shadow: none;
	width: 53%;
	text-align: center;
}

.restListTitleDivRight {
	background-color: #664765;
	color: #FFFFFF;
	float: left;
	padding: 6% 0%;
	text-shadow: none;
	width: 46%;
	text-align: center;
}
.searchDiv {
/*	margin: 0 2%;*/
}

.searchDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #B1B2B4;
	text-shadow: none;
}

.adviceDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #B1B2B4;
	text-shadow: none;
}

.instructionDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #B1B2B4;
	text-shadow: none;
}

.instructionDiv .ui-shadow-inset {
	box-shadow: none;
}

#redeemPoints .number {
	font-size: 8em;
}

.instruction {
	color: #664765;
	margin: 1.5em 0;
	width: 76%;
}
.instructionDiv {
	margin: 0 auto;
	text-shadow: none;
}

.line {
	border: 1px solid #664765;
	margin-top: 4px;
}
.searchDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}
.adviceDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}
.searchDiv input {
	text-shadow: none;
	width: 80% !important;
	color: #999999;
}
.restListOuterDiv {
	font-size: 0.8em
}

.instructionDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}

.searchDiv div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text {
	padding: 1em 0;
	display: inline;
	width: 46%;
}
.feedbackTxt {
	color: #FFFFFF;
	display: block;
	margin: 0 auto;
	width: 82px;
}
.feedbackStep2Txt {
	color: #593F59;
	display: block;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 0.6em 0 0;
	width: 117px;
}
.yellowBack {
	float: left;
	padding: 2% 0;
	width: 49.7%;
	background-color: #F8BE40;
	border-right: 2px solid #FFFFFF;
}
.count {
	font-size: 1.5em;
}
#feedback .count {
	padding: 10% 0;
}
.descript {
	font-size: 0.8em;
}
.actDate {
	color: #FFFFFF;
	float: left;
	margin: 0 0 0 2%;
}
.bottomDiv {
	background-color: #593F5A;
	margin: 5% 0 1%;
}
.recentAct {
	color: #ECBD3A;
	float: left;
	margin: 0 0 0 2%;
}
.whatLike {
	margin: 3% 0;
}
.recentActDiv {
	float: left;
    margin-left: 2%;
    padding: 4% 0 3%;
    width: 74%;
}
.backColr {
	background-color: #E5E6E8;
	padding: 5% 0;
	float: left;
	width: 32.7%;
	border-right: 3px solid #FFFFFF;
}
.clear {
	color: #FEBF3B;
	font-size: 2em;
}

.clearBackColr {
	background-color: #664765;
	border-right: 3px solid #FFFFFF;
	border-top: 3px solid #FFFFFF;
	float: left;
	padding: 5% 0;
	width: 30%;
}

.nextBackColr {
	background-color: #FEBF3B;
	border-right: 3px solid #FFFFFF;
	border-top: 3px solid #FFFFFF;
	float: left;
	padding: 7.3% 0;
	width: 30%;
}

body {
	font-family: "kanariFont", sans-serif;
	/*color: #664765 !important;*/
}
img, object {
	max-height: 90%;
	/*max-width: 80%;*/
}
.logo_btm img {
  	float: left;
    margin: 10% 0 1%;
    max-height: 90%;
    max-width: 40%;
}
#login .ui-btn-corner-all {
	border-radius: 0px;
}

#feedback .backColr {
	background-color: #E5E6E8;
	border-right: 3px solid #FFFFFF;
	float: left;
	padding: 4% 0;
	width: 19.2%;
	height: 43px;
}

#feedback .menDiv {
	margin: 2% 0 0 0;
	width: 100%;
}

#feedback .keypad .menDiv {
	margin: 8% 0 0 10%;
	width: 90%;
}

#feedback_step2 .backColr {
	background-color: #E5E6E8;
	border-right: 3px solid #FFFFFF;
	border-top: 3px solid #FFFFFF;
	float: left;
	height: 109px;
	padding: 8% 0;
	width: 48%;
}

.prev {
	background-color: #664765;
	border-right: 3px solid #FFFFFF;
	float: left;
	padding: 0.8em 0;
	border-bottom: 1px solid #FFFFFF;
	width: 49.5%;
	text-align: center;
}
#showRestaurant .prev{padding: 1.31em 0;}
.prev img, .nxt img {
	vertical-align: text-bottom;
}
.prevTxt {
	color: #FDBE3A;
	display: inline;
}
.nxt {
	background-color: #FDBE3A;
	float: left;
	padding: 0.75em 0;
	width: 49.5%;
	text-align: center;
}
.nxtTxt {
	color: #664765;
	display: inline;
	font-size: 100%;
	/*padding: 0 20%;*/
}
.footerDivRedeemPoints .prev {
	background-color: #664765;
	border-right: 3px solid #FFFFFF;
	/*float: left;*/
	padding: 0.8em;
	width: 40%;
}

.redeemPointsDiv {
	background-color: #FDBE3A;
	float: left;
	padding: 1em;
	width: 40%;
}
.footerDiv {
	margin: 5% 0 2%;
	text-shadow: none;
}
#transaction_history .footerDiv {
	margin: 5% 0 0;
}
#transaction_history .prev {
	padding: 0.74em 0;
	background-color: #664765;
	font-size: 0.9em;
	border-right: 0 none;
	margin-right: 1%
}
#transaction_history .prev img {
	max-height: 16px;
}
#transaction_history .nxt {
	padding: 0.74em 0;
	background-color: #FDBE3A;
	font-size: 0.9em;
	width: 49.4%
}
#transaction_history .prevTxt {
	color: #FEBE3B
}
.feedback_footerDiv {
	margin: -1.5% 0 0;
}
#transaction_history  .nxtTxt {
	color: #664765;
}

.feedback_footerDiv {
	margin: -1.5% 0 0;
}
.footerDivRedeemPoints {
	margin: 16% 0 0;
	text-shadow: none;
}

.footerDivRedeemPoints .prevTxt {
	color: #FDBE3B;
	float: right;
	margin: 0 23% 0 0;
}

/*.foodTst{

 content:url(<%= asset_path 'b_food_1.png' %>);
 }*/

.footerDivRedeemPoints .nxtTxt {
	color: #664765;
}

#feedback_step2 .menDiv {
	margin: 0 0 0 2.4%;
	width: 100%;
}

/*#feedback_step2 .keypad .menDiv{
 margin: 8% 0 0 10%;
 width: 90%;
 }*/

.border {
	border: 1px solid #664765;
	margin: 9% 3.5%;
}

.secondRow {
	width: 90%;
	margin: 0 0 0 9%;
}
.home {
  background-image: url("/assets/ic_home_yellow.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 40px;
    margin: 2% 0 0 2%;
    width: 36px;
	}
.logout {
	background-image: url("/assets/ic_logoff_yellow.png");
	background-position: 0 0;
	 background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 37px;
	width: 37px;
	margin-top:2%;
}
.homeImg img {
	max-height: 90%;
	max-width: 75%;
}
.home img{margin-top:14%;}
.next {
	float: left;
	font-size: 1em;
	padding: 2% 0 0 8%;
}

/*#landPage .ui-body-b, .ui-overlay-b, .ui-body-c, .ui-overlay-c {
 background: #FEbf3B !important;
 height: 500px;
 }*/

/**Splash Page**/
#splash {
	position: relative;
}
#splash .ui-content {
	padding: 0;
}
.signIn {
	/*display: none;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 89%;*/
	/*margin: 0 6%;*/
	margin-top: 15%;
}
#landPage .signIn {
	margin-top: 5%
}

.number {
	color: #593F5A;
	font-size: 5em;
	margin-bottom: -3px;
}

.points {
	font-size: 1.3em;
	letter-spacing: 0.4em;
}

.forgotpass {
	text-decoration: none;
	font-size: 0.8em;
	color: #66475E;
	float: right;
	padding-top: 2.7%;
	width: 50%;
}

.userClick {
	width: 100%;
	margin: 0 0 10%;
	overflow: hidden;
	text-align: center;
}
#login {
	text-align: center; /*position: relative;height: 377px;*/
}
.logo {
	padding: 6% 0;
	position: relative;
	text-align: center;
	margin-top:9%;
}
.socialBtn {
	color: #664765 !important;
	margin: 2% 0 10%;
	overflow: hidden;
}
.socialBtn span {
	float: left;
	width: 25%;
	line-height: 55px;
	text-shadow: none;
	text-align: right;
}
.socialBtn img {
	/*float: left;*/
}
.userClick .ui-btn {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none repeat scroll 0 0 #FFCC63;
	color: #664765;
	float: left;
	font-weight: normal;
	margin: 0;/*padding: 10% 10px 10%;*/
	width: 49%;
	border: 1px solid #FCC03B;
}
.newUSer .ui-btn {
	border-radius: 10px 0 0 0;
	-moz-border-radius: 10px 0 0 0;
	-webkit-border-radius: 10px 0 0 0;
}
.newUSer .ui-icon, .ui-icon-searchfield:after {
	background-image: url("images/icon_new.png");
}
.regUSer .ui-btn {/*background: url("../images/icon_unregistered.png") no-repeat scroll center 4px #FFCC63 !important;*/
	border-radius: 0 10px 0 0;
	-moz-border-radius: 0 10px 0 0;
	-webkit-border-radius: 0 10px 0 0;
}
.regUSer .ui-icon, .ui-icon-searchfield:after {
	background-image: url("images/icon_unregistered.png");
}
.signIn .ui-btn-icon-top .ui-btn-inner .ui-icon, .signIn .ui-btn-icon-bottom .ui-btn-inner .ui-icon {
	height: 58px;
	width: 56px;
	background-color: transparent;
	background-size: 100% 100%;
	margin-left: -30px;
	background-position: 0;
	box-shadow: none;
}
.userClick .ui-btn-inner {
	border-top: 0;
	padding-top: 80px;/*padding-bottom: 0;top: 32px;bottom: 0;*/
}

/* Sign Up*/
#signUp .ui-content {
	padding: 8% !important;
}
#signedUp .ui-content {
	padding: 0 !important;
}
.mainDiv {
	color: #664765;
	margin: 5% 0 0 3%;
	width: 93%;
	text-shadow: none;
}
.thanks {
	color: #664765;
}

.secondDiv {
	color: #656565;
}
.trustUs {
	margin: 4%;
}
.dateLabel {
	float: left;
	font-size: 18px;
	margin: 0.9% 0 0;
	font-family: bold 16px KanariLightFont  !important;
}
.date {
	float: left;
	width: 49%;
	margin-left: 13%;
}
.dateInner {
	float: left;
	width: 30% !important;
	background: #664765 !important;
	border-radius: none !important;
	border-right: 2px solid #ffffff !important;
}

.dateInner .ui-corner-all {
	border-radius: 0 !important;
}
#settings .dateDiv .dateInner {
	color: #F5C03F;
}
#settings .ui-field-contain input::-webkit-input-placeholder{color:#664765;}
#settings .ui-field-contain input:-moz-placeholder { /* Firefox 18- */
color:#664765;
}

#settings .ui-field-contain input::-moz-placeholder {  /* Firefox 19+ */
color:#664765;
}

#settings .ui-field-contain input:-ms-input-placeholder {  
color:#664765;
}
#settings .dateDiv input::-webkit-input-placeholder{color:#F5C03F!important;text-align: center;}
#settings .dateDiv input:-moz-placeholder { /* Firefox 18- */
color:#F5C03F!important;text-align: center;
}

#settings .dateDiv input::-moz-placeholder {  /* Firefox 19+ */
color:#F5C03F!important;text-align: center;
}

#settings .dateDiv input:-ms-input-placeholder {  
color:#F5C03F!important;text-align: center;
}
.settingDiv {
	color: #664765;
}
.profileText, .profileTextBottom {
	border: 0 none;
	color: #664765;
	font-family: KanariLightFont;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 5% 0 0;
	text-transform: uppercase;
}
.profileText h2, .profileTextBottom h2 {
	margin: 0 !important;
	text-shadow: none;
	font-size: 114%;
}
.profileTextBottom {
	padding-top: 0.7% !important;
}
#settings .ui-btn-inline {
	clear: both;
	width: 98%;
	border: 0 !important
}
#settings .ui-btn-inline span.ui-btn-text {
	color: #664765;
	text-transform: uppercase
}
#leaveFeedback {
	text-transform: uppercase;
	text-shadow: none;
	color: #664765;
	margin-top: 1%
}
.genderBtn {
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #BFBFBF;
	padding-bottom: 0.2em;
	padding-top: 0.5em;
	/*width: 88%;*/
}
.genderBtn .ui-btn-down-a .ui-btn-active {
	background: linear-gradient(#593F5A, #593F5A) repeat scroll 0 0 #593F5A;
	background: -webkit-linear-gradient( #593F5A,#593F5A ) repeat scroll 0 0 #593F5A;
	background:	-moz-linear-gradient( #593F5A,#593F5A ) repeat scroll 0 0 #593F5A;
	background: -ms-linear-gradient( #593F5A,#593F5A ) repeat scroll 0 0 #593F5A;
	background:	-o-linear-gradient( #593F5A,#593F5A ) repeat scroll 0 0 #593F5A;
	background: linear-gradient( #593F5A,#593F5A ) repeat scroll 0 0 #593F5A;
}
}
.genderBtn .ui-corner-all, .genderBtn .ui-btn-corner-all {
	border-radius: 0 !important;
}
.genderBtn div.ui-slider-switch {
	top: 3px
}
.genderBtn .ui-btn-up-a, .ui-btn-hover-a {
	background: linear-gradient(#E5E6E8, #E5E6E8) repeat scroll 0 0 #E5E6E8;
	background: -webkit-linear-gradient( #E5E6E8,#E5E6E8 ) repeat scroll 0 0 #E5E6E8;
	background:	-moz-linear-gradient( #E5E6E8,#E5E6E8 ) repeat scroll 0 0 #E5E6E8;
	background: -ms-linear-gradient( #E5E6E8,#E5E6E8 ) repeat scroll 0 0 #E5E6E8;
	background:	-o-linear-gradient( #E5E6E8,#E5E6E8 ) repeat scroll 0 0 #E5E6E8;
	background: linear-gradient( #E5E6E8,#E5E6E8 ) repeat scroll 0 0 #E5E6E8;
}

/*.genderBtn .ui-slider-switch .ui-btn.ui-slider-handle{
 margin: -3px 0 0 -10px;
 }

 .genderBtn .ui-slider-track .ui-btn.ui-slider-handle, .ui-slider-switch .ui-btn.ui-slider-handle{
 height: 35px;
 width: 42px;
 }*/

.genderBtn .ui-btn-down-b .ui-btn-down-a, .genderBtn .ui-btn-active {
	/*background: linear-gradient(#593F5A, #593F5A) repeat scroll 0 0 #593F5A;*/
	/*background-image: -webkit-gradient(linear,left top,left bottom,from( #593F5A ),to( #593F5A ));
	background-image: -webkit-linear-gradient( #593F5A,#593F5A );
	background-image: -moz-linear-gradient( #593F5A,#593F5A );
	background-image: -ms-linear-gradient( #593F5A,#593F5A );
	background-image: -o-linear-gradient( #593F5A,#593F5A );
	background-image: linear-gradient( #593F5A,#593F5A );*/
	background-color: #593F5A;
}
.genderBtn .ui-btn-active,.genderBtn .ui-btn-down-a{
   background-image: -webkit-gradient(linear,left top,left bottom,from( #593F5A ),to( #593F5A ));
	background-image: -webkit-linear-gradient( #593F5A,#593F5A );
	background-image: -moz-linear-gradient( #593F5A,#593F5A );
	background-image: -ms-linear-gradient( #593F5A,#593F5A );
	background-image: -o-linear-gradient( #593F5A,#593F5A );
	background-image: linear-gradient( #593F5A,#593F5A );
}
.genderBtn .ui-field-contain, .ui-mobile fieldset.ui-field-contain {
	margin: none !important;
}
.genderBtn .ui-field-contain label.ui-slider, .ui-field-contain label.ui-slider {
	color: #664765;
	float: left;
	font: bold 16px KanariLightFont  !important;
	margin: 1.5% 0 0;
	text-align: left;
	text-shadow: none;
	width: 24%;
}

.proceedBtn .ui-btn-up-b, .ui-btn-hover-b {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #FACC4A ),to( #F9C040 ));
	background-image: -webkit-linear-gradient( #FACC4A,#F9C040 );
	background-image: -moz-linear-gradient( #FACC4A,#F9C040 );
	background-image: -ms-linear-gradient( #FACC4A,#F9C040 );
	background-image: -o-linear-gradient( #FACC4A,#F9C040 );
	background-image: linear-gradient( #FACC4A,#F9C040 );
}
.notificationCheckbox, .notificationCheckboxTwitter {
	padding: 0.1em 0 !important
}

.notificationCheckboxTwitter {
	margin-top: 0 !important
}
.notificationCheckbox label, .notificationCheckboxTwitter label {
	float: left;
	font-size: 2em;
	margin-left: 2%;
}
.notificationCheckbox input[type="checkbox"], .notificationCheckboxTwitter input[type="checkbox"] {
	float: right;
	margin-right: 2%;
	margin-top: 3%
}
#transactionHistory {
	background-color: #664765;
	color: #F9C040;
	font: 104% KanariLightFont;
	padding: 0.5em 0;
}
.notificationCheckboxTwitter, .notificationCheckboxFb {
	margin-top: 0 !important;
	padding: 0 !important
}
.notificationCheckbox label, .notificationCheckboxTwitter label, .notificationCheckboxFb label {
	float: left;
	font-size: 2em;
	margin-left: 4%;
}
.notificationCheckboxTwitter label, .notificationCheckboxFb label {
	margin-top: 2%
}
.notificationCheckbox label img, .notificationCheckboxTwitter label img, .notificationCheckboxFb label img {
	vertical-align: middle;
}
.notificationCheckbox img, .notificationCheckboxTwitter img, .notificationCheckboxFb img {
	float: right;
	margin-right: 2%;
}
.notificationCheckboxTwitter img, .notificationCheckboxFb img {
}
.inviteFriends {
	background: none !important;
	border: 0 none !important;
	margin: 2% 0 !important;
}
.inviteFriends a {
	background-color: #664765;
	display: inline-block;
	padding: 1.5% 2%;
	width: 16%;
}
.settingDiv .border {
	margin: 5% 3%
}
#transactionHistory {
	background-color: #664765;
	color: #F9C040;
	font: 104% KanariFont;
	padding: 0.2em 0 0;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
	width: 94%;
}
.proceedBtn .ui-btn-corner-all {
	border-radius: 0.4em 0.4em 0.4em 0.4em;
}

#transactionHistory span {
	float: left;
	margin: 2.6% 0 0 3%
}
#transactionHistory a {
	float: right;
	margin: 0 2% 0 0
}
#transactionHistory a img {
	vertical-align: top;
}
.proceedBtn .ui-focus, .ui-btn:focus {
	box-shadow: none;
}
.signedUpBrdr {
	border: 1px solid #CACACA;
	margin: 4% 0;
}

.signUp {
	text-align: center;
	margin: 4% 0 0;
	font-size: 20px;
}
#restaurantList .signUp,#showRestaurant .signUp{margin: 2.6 0 0;}
#feedbackSub .signUp{
	margin-top: 0;
    padding: 2% 0;
}

/*#signUp .outDiv{
 margin: 5% 0 0 3%;
 width: 93%;
 text-shadow: none;
 color:#664765;
 }*/

.signUpDiv {
	padding: 0.2em;
}

.settingDiv {
	padding-top: 1.2em;
}
.searchIcon{
	background-image: url("/assets/ic_search_purple.png");
    background-position: 0 0;
    cursor: pointer;
    float: right;
    height: 39px;
    margin: 2% 0 0;
    width: 39px;
	}
#signUp .ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text {
	background: none repeat scroll 0 0 #FFFFFF;
/*	border-bottom: thin solid #E5E5E5;*/
	border-left: 0 none !important;
	border-right: 0 none !important;
	border-top: 0 none;
	margin-bottom: 0 !important;
}
.signUpDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}

.settingDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}
.signUpDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #BFBFBF;
	text-shadow: none;
}
.settingDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #664765;
	font-family: KanariLightFont !important;
	/*font-weight:bold;*/
	text-shadow: none;
}

.dateDiv input::-moz-placeholder, textarea::-moz-placeholder {
	color: #F5C03F;
	font-weight: bold;
	text-shadow: none;
}

.signUpDiv .ui-body-a, .ui-overlay-a {
	text-shadow: none;
	color: #664765;
	border: 1px solid #BFBFBF;
}
.settingDiv .ui-body-a, .ui-overlay-a {
	text-shadow: none;
	color: #664765;
	border: 1px solid #BFBFBF;
}

.signUpDiv .ui-corner-all, .signUpDiv .ui-btn-corner-all {
	border-radius: 6px 6px 6px 6px;
}
.settingDiv .ui-corner-all, .settingDiv .ui-btn-corner-all {
	border-radius: 0;
}
.dateDiv .ui-corner-all, .dateDiv .ui-btn-corner-all {
	border-radius: 0 !important;
}

#signUp .ui-btn-left, .ui-btn-right, .ui-btn-inline, input {
	width: 40%;
}
.signUpDiv .ui-btn-up-b, .ui-btn-hover-b {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #FACC4A ),to( #F9C040 ));
	background-image: -webkit-linear-gradient( #FACC4A,#F9C040 );
	background-image: -moz-linear-gradient( #FACC4A,#F9C040 );
	background-image: -ms-linear-gradient( #FACC4A,#F9C040 );
	background-image: -o-linear-gradient( #FACC4A,#F9C040 );
	background-image: linear-gradient( #FACC4A,#F9C040 );
}

.settingDiv .ui-btn-up-b, .ui-btn-hover-b {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #FACC4A ),to( #F9C040 ));
	background-image: -webkit-linear-gradient( #FACC4A,#F9C040 );
	background-image: -moz-linear-gradient( #FACC4A,#F9C040 );
	background-image: -ms-linear-gradient( #FACC4A,#F9C040 );
	background-image: -o-linear-gradient( #FACC4A,#F9C040 );
	background-image: linear-gradient( #FACC4A,#F9C040 );
}

.signUpDiv .ui-focus, .ui-btn:focus {
	box-shadow: none;
}

.settingDiv .ui-focus, .ui-btn:focus {
	box-shadow: none;
}

.signUpDiv .ui-btn-inner, .ui-btn-text {
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
.settingDiv .ui-btn-inner, .ui-btn-text {
	color: #FFFFFF;
	text-shadow: none;
	font-weight: normal;
}
/***Login  Page***/
.outerDiv {
	/*margin: 5% 0 0 3%;*/
	width: 100%;
	text-align: center;
	text-shadow: none;
	color: #593F5A;
}
.keypad {
	margin: 2% 0 0 3%;
	width: 93%;
	text-align: center;
	text-shadow: none;
	color: #593F5A;
}

#feedback .keypad .backColr {
	background-color: #E5E6E8;
	border-right: 3px solid #FFFFFF;
	border-top: 3px solid #FFFFFF;
	float: left;
	padding: 4% 0;
	width: 30%;
}
.enter_code {
	margin: 3%
}
.loginDiv {
	/*border: 1px solid #D9A432 !important;*/
	border-radius: 10px;
	padding: .2% 0 !important;
}
.outerDiv .ui-body-a, .ui-overlay-a {
	background: none repeat scroll 0 0 #FFFFFF;
	border: none;
	color: #bbb !important;
	text-shadow: none;
}
.outerDiv .ui-field-contain:last-child {
	padding-top: 0.35em;
}
.outerDiv .alreadyUser {
	color: #664765;
	margin: 1% 0;
}
.chkbox {

}
#login .ui-content,#forgotpass .ui-content{
	padding: 8%;
}
.forgotPass {
}
.rememberMe .ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
	padding-top: 0;
	padding-left: 25px;
}

.rememberMe  .ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
	font-size: 0.9em;
}
.rememberMe .ui-field-contain .ui-controlgroup, .ui-field-contain fieldset.ui-controlgroup {
	float: left;
	width: 49%;
	padding: 0 !important;
	/*display: inline;*/
	/*width: 50%;*/
}
.ui-field-contain .ui-controlgroup-controls {
	width: auto
}
/*.rememberMe .ui-checkbox .ui-btn-icon-left .ui-icon, .ui-radio .ui-btn-icon-left .ui-icon{
 left: 2px;
 }*/
.outerDiv .ui-btn-up-b, .outerDiv .ui-btn-hover-b {
	background: #6E4D6C;
	border: 0;
}
.loginDiv div.ui-input-text {
	margin: 0.2em 0;
}

.signUpDiv div.ui-input-text {
	margin: 0.5em;
}

.settingDiv div.ui-input-text {
	/*margin: 0.5em;*/
}

.errorMsg {
	color: #C64957;
	text-shadow: none;
	margin: 2% 12%;
}
.succMsg {
	color: #0F9D58;
	text-shadow: none;
}
.sucsessMsg {
	color: #0F9D58;
	text-shadow: none;
}
.loginDiv .ui-input-text.ui-focus, .ui-input-search.ui-focus {
	box-shadow: none;
}
.loginDiv .ui-corner-all, .loginDiv .ui-btn-corner-all {
	border-radius: 0px;
	
}
.loginDiv .ui-corner-all{
	padding: 0.8em !important;
}
.rememberMe {
	border: none;
/*	margin: 0 0.5em;*/
	padding:1.3em 0 0.1em;
}
.rememberMe .ui-btn-up-b, .rememberMe .ui-btn-hover-b {
	background: transparent;
	border: 0;
}
.rememberMe .ui-btn-inner {
	border-top: 0;
}
.rememberMe .ui-icon-checkbox-off {
	background: #FFF;
}
.rememberMe .ui-btn-text {
	color: #664765;
	display: block;
	font-size: 0.8em;
	padding-top: 8px;
	text-shadow: none;
}
.rememberMe .ui-checkbox {
	left: -2px;
	margin: 0;
}
.rememberMe .ui-checkbox .ui-btn-icon-left .ui-icon {
	left: 2px;
}
.rememberMe .ui-checkbox input {
	left: 4px;
	margin: -5px 0 0;
}
#login .ui-btn-left, #login .ui-btn-right {
   	margin: 4% 0 3%;
    width: 100%;
}
#login .ui-btn-inline, input, #signUp .ui-btn-inline{ margin:  4% 0 3%;width:100%;}
#forgotpass .ui-btn-left, #forgotpass .ui-btn-right, #forgotpass .ui-btn-inline, input {
	width: 40%;
}
.nameContainer {
	background-color: transparent !important;
	padding: 0 !important
}
.nameContainer input {
	background: none repeat scroll 0 0 #FFFFFF !important;
	float: left;
	padding: 6px !important;
	width: 40.2% !important;
}
.nameContainer .ui-input-text input {
	width: 100% !important
}
.ui-input-text input {
	box-shadow: none;
	padding: 0 0.4em;
}
.clr {
	clear: both;
}
.btn .ui-btn-corner-all {
	border-radius: 0.2em 0.2em 0.2em 0.2em;
}
.btn {
	text-align: center;
}
.code {
	color: #664765;
	text-shadow: none;
	/*font-size: 2em;
	 font-family: KanariLightFont;
	 font-weight: 600;*/
	font: 600 95% KanariLightFont;
}
.loginBtn,.signBtn{
	width: 100% !important;
	margin:0!important;
}
.loginFb {
	background-color: #664765;
	color: #FFFFFF;
	margin: 1% 3%;
	padding: 2.5% 2%;
	width: 90% !important;
}
.loginFb .fbIcon {
	opacity: 1;
	width: 10px;
}
.username {
	background: none repeat scroll 0 0 #664765;
	color: #FFFFFF;
	padding: 0.2em 0.3em;
	text-shadow: none;
}
#home .username{padding:0.2em}
.username a {
	text-decoration: none;
	text-transform: uppercase;
}
.username .ui-link {
	color: #FFFFFF !important;
	display: block;
	margin: 8px 0 0 2%;
	/*width: 168px;*/
}
.role {
	display: block;
	width: 168px;
	font-size: 12px;
	margin-left:2%;
}
.or {
	color: #664765;
	font: 600 95% KanariLightFont;
	margin: 3% 0;
}
.dotSeparator {
	background-color: #664765;
	float: left;
	height: 1%;
	width: 1%;
	border-radius: 5%;
}
.rightBtn {
}
#login .ui-field-contain, fieldset.ui-field-contain {
	border-width: 0;
}
.forgotPass .ui-link {
	color: #664765;
	font-weight: normal;
	text-decoration: none;
}
.forgotPass .ui-link:hover {
	color: #664765;
}
.logo_btm {
	/*bottom: 0;*/
	position: relative;
	clear: both;
}

/**Restaurant Info**/
.rest_name {
	font-size: 1.5em;
	margin: 4% 0;
}
#showRestaurant .rest_info img {
	vertical-align: middle;
}
#showRestaurant .rest_info {
	margin: 0.4% 0;
	text-align: left;
	padding: 0 3%;
}
.outlet_div {
	background: #CCCCCC;
	margin: 1px 0 !important;
	overflow: hidden;
}
.outlet_info span {
	display: inline-block;
	font-size: 90%;
}
.outlet_serves img {
	float: right;
}
.outlet_title {
	border-right: 1px solid #FFFFFF;
	float: left;
	margin: 0 !important;
	 min-height: 48px;
	width: 60%;
	text-shadow: none;
}
.outlet_info {
	float: right;
	text-shadow: none;
	width: 39%;
}
.title_outlet {
	display: inline-block;
}
.img_outlet {
	display: inline-block;
	text-align: center;
	width: 22%;
}
.rest_name span {
	display: block;
	font-size: 0.6em;
}

.fblogin{
	background-color:#6E4D6C; 
	color:#FFFFFF;
	margin: 0 1%;
	padding: 0.2em 0;
}

.fblogin img{
	width: 2.3em;
	float:left;
	vertical-align: middle;
}

.fblogin div{
	font-size: 97%;
	padding:3% 0;
}
.loginDiv input.ui-input-text {
	padding: 0.8em !important;
}
