<div data-role="page" data-theme="b" id="acceptInvitation" ng-controller="acceptInvitationCtrl" class="main_content span12">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Accept Invitation</h1>
		<br/>
		<div class="acceptInv outerDiv">
			<form ng-app="form-example"  name="acceptInv" class="row form-horizontal" ng-submit="acceptInvitation(acceptInv)" ng-app>
				<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 42%;">
					<div class="control-group">
						<div class="controls">
							<lable>
								Email
							</lable>
							<label style="margin-bottom: 10px;">{{emailId}}</label>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable>
								First Name
							</lable>
							<input data-theme="a" data-inline="true" type="text" name="txtfirstname" ng-model="first_name" value="" placeholder="First Name" required/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable>
								Last Name
							</lable>
							<input data-theme="a" data-inline="true" type="text" name="txtlastname" ng-model="last_name" value="" placeholder="Last Name" required/>
							<div class="clr"></div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable>
								Phone Number
							</lable>
							<input data-theme="a" data-inline="true" type="text" min="0" number-mask="" max="99" name="phone_no" ng-model="phone_no"  placeholder="Phone Number" required/>
							
							<div class="clr"></div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable>
								Password
							</lable>
							<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password" required/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable>
								Confirm Password
							</lable>
							<input data-theme="a" data-inline="true" type="password" name="txtcpassword" ng-model="password_confirmation" class="passwordTxt" placeholder="Confirmation Password" required/>
						</div>
					</div>

					<div style="margin: 10px 0 0 145px;">
						<!-- <input type="button" class="loginBtn" ng-click="acceptInvitation()" data-inline="true" value="Save" /> -->
						<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true" >
							Save
						</button>

						<p class="errorMsg" ng-show="error">
							{{errorMsg}}
						</p>
						<p ng-hide="error"></p>
						<p class="errorMsg" ng-show="passwordError">
							Password Didn't match
						</p>
						<p ng-hide="passwordError"></p>
						<p class="errorMsg" ng-show="errorClient">
							Please Fill the Form
						</p>
						<p ng-hide="errorClient"></p>
						<p class="successMsg" ng-show="success">
							Your Authenticatin Token is {{auth_token}}
						</p>
						<p ng-hide="success"></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
