<div data-role="page" data-theme="b" id="acceptInvitation" ng-controller="acceptInvitationCtrl" class="main_content span12">
	<div class="innerDiv" data-role="content">
		<h1>Accept Invitation</h1>
		<br/>
		<div class="outerDiv">
			<form  name="acceptInv" ng-submit="acceptInvitation(acceptInv)" ng-app>
				<div data-role="fieldcontain" class="loginDiv">
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<input data-theme="a" data-inline="true" type="password" name="txtcpassword" ng-model="password_confirmation" class="passwordTxt" placeholder="Confirmation Password" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<input data-theme="a" data-inline="true" type="text" name="txtfirstname" ng-model="first_name" value="" placeholder="First Name" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<input data-theme="a" data-inline="true" type="text" name="txtlastname" ng-model="last_name" value="" placeholder="Last Name" required/>
					</div>
					<!-- <input type="button" class="loginBtn" ng-click="acceptInvitation()" data-inline="true" value="Save" /> -->
					<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true" >
						Save
					</button>

					<p class="errorMsg" ng-show="error">
						{{errorMsg}}
					</p>
					<p ng-hide="error"></p>
					<p class="errorMsg" ng-show="passwordError">
						Password Didn't match
					</p>
					<p ng-hide="passwordError"></p>
					<p class="errorMsg" ng-show="errorClient">
						Please Fill the Form
					</p>
					<p ng-hide="errorClient"></p>
					<p class="successMsg" ng-show="success">
						Your Authenticatin Token is {{auth_token}}
					</p>
					<p ng-hide="success"></p>
				</div>
			</form>
		</div>
	</div>
</div>
