<div data-role="page" data-theme="b" id="createInvitation" ng-controller="createInvitation" class="main_content span12">
	<div class="innerDiv" data-role="content">
		<h1>Create Invitation</h1>
		<div class="outerDiv" style="overflow: hidden;">
			<form  name="form" ng-app>
				<div data-role="fieldcontain" class="loginDiv">
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<input type="email" name="userEmail" ng-model="userEmail" placeholder="Email Address" required />
						<span class="help-inline" ng-show="submitted && form.userEmail.$error.required">Required</span>
						<span class="help-inline" ng-show="submitted && form.userEmail.$error.email">Invalid email</span>
					</div>
					<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="create_invitation()">
						Create Invitation
					</button>
				</div>
			</form>
			<a href="#/payment_invoice" title="PaymentInvoice" class="createPayment">Create Payment Invoice</a>
			<br/>
		</div>
		<div class="errorMsg" ng-show="erromsg">
			{{errortext}}
		</div>
		<p ng-hide="erromsg"></p>
		<p ng-show="statement">
			Invitation Url Is: <a href="{{invitation_token}}" target="_blank"}<u>{{invitation_token}}</u></a>
		</p>
		<p ng-hide="statement"></p>
	</div>
</div>