<div data-role="page" data-theme="b" id="createInvitation" ng-controller="createInvitation" class="main_content span12">
	<style>
		.input-help{ left: 438px;}
	</style>
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Create Invitation</h1>
		<div class="acceptInv outerDiv" >
			<span class="mandatoryFld"><div class="startMsg">*</div> Indicates mandatory fields</span>
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example" class="row form-horizontal" name="invitation" ng-submit="create_invitation()" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								Email Address<span class="star">*</span>
							</lable>
							<input type="email" id="inputEmail" placeholder="Email" ng-model="userEmail" required>
							<div class="input-help">
								<h4>Invalid Email</h4>
							</div>
							
						</div>
					</div>
					<div style="margin: 10px 0 0 145px;" class="control-group">
						<div class="controls">
							<button type="submit" class="btn">
								Create Invitation
							</button>
							<button class="btn" disabled>
								Create Invitation
							</button>
						</div>
						<br/>
						<a href="#/payment_invoice" title="PaymentInvoice" class="createPayment">Create Payment Invoice</a>
						<br/>
						<br/>
						<a href="#/add_outlet_cuisine_type" title="outletcuisinetype" class="createPayment">Add Outlet & Cuisine Type</a>
						<br/>
						<p class="errorMsg" ng-show="erromsg">
							{{errortext}}
						</p>
						<p ng-hide="erromsg"></p>
						
					</div>

				</form>

			</div>
			<p ng-show="statement" style=" position: absolute;">
							Invitation Url Is: <a href="{{invitation_token}}" target="_blank"}<u>{{invitation_token}}</u></a>
						</p>
						<p ng-hide="statement"></p>	
		</div>

	</div>

</div>