<div data-role="page" class="main_content span12" data-theme="b" id="adminConosoleOutlet" ng-controller="adminConsoleOutletCtrl">
	<style>
		.input-help{left: 295px;}
	</style>
	<div class="header_title">
		<span class="manager_outlet">Admin Console</span>
		<span class="arrow-right blank_span">&nbsp;</span>
		<span style="padding: 10px 20px;"><a href="#/adminConsole_customer">Customer</a> </span>
		<span class="blank_span"><%= image_tag 'div_line_yellow.jpg' %></span>
		<span style="padding: 10px 20px;"><span class="outletM"><a href="#/adminConsole_outlet">Outlet</a></span></span>
		<span class="blank_span"><%= image_tag 'div_line_yellow.jpg' %></span>
	</div>
	<p class="successMsg" ng-show="disabled">{{outletName}} enabled</p>
	<p class="successMsg" ng-show="enabled">{{outletName}} disabled</p>
	<div class="viewAccPage outletTble">
		<div class="adminConsoleHdr">
			<div class="colHdr1">Customer Name</div>
			<div class="colHdr">Customer No.</div>
			<div class="colHdr2">Outlet Name</div>
			<div class="colHdr">Outlet No.</div>
			<div class="colHdr1">Outlet Location</div>
			<div class="colHdr">Date Created</div>
			<div class="colHdr colHdrDisabled">Disabled</div>
			<div class="colSave">&nbsp;</div>
			<div class="clr"></div>
		</div>
		<div ng-repeat="outlets in outletDetails" class="adminConsoleColumns">
			<div class="colHdr1">{{outlets.customer_name}}</div>
			<div class="colHdr">{{outlets.customer_id}}</div>
			<div class="colHdr2">{{outlets.name}}</div>
			<div class="colHdr">{{outlets.id}}</div>
			<div class="colHdr1">{{outlets.address}}</div>
			<div class="colHdr">{{outlets.created_at | date:'dd/MM/yyyy'}}</div>
			<div class="colHdr colHdrDisabled"><input ng-model="outlets.disabled" type="checkbox" /></div>
			<div class="colSave"><span ng-click="disableOutlet(outlets.disabled,outlets.id,outlets.name)">Save</span></div>
			<div class="clr"></div>
		</div>
	</div>
</div>
