<div data-role="page" data-theme="b" id="settings" ng-controller="changePasswordController">
	<div data-role="content">
		<div class="username">
			<div class="backBtn" ng-click="back()"><img src="/assets/ic_back.png"/><div class="clr"></div>
			</div>
			<div class="signUp" style="margin: 1% 0px;">
				CHANGE PASSWORD
			</div>
			<div class="clr"></div>
		</div>
		<div data-role="fieldcontain" class="settingDiv" style="padding-top: 3% !important;" align="center">
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="currentPassword" class="passwordTxt" placeholder="Current Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="newPassword" class="passwordTxt" placeholder="New Password"/>
			</div>
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confirmPassword" class="passwordTxt" placeholder="Confirm Password"/>
			</div>
			<input type="button" class="signBtn"  data-inline="true" ng-click="changePassword()" value="Save"/>
			<p class="errorMsg" ng-show="errorMsg">
				{{error}}
			</p>
			<p class="succMsg" ng-show="succMsg">
				Password changed successfully!!!
			</p>
		</div>
	</div>
</div>