<div data-role="page" data-theme="b" id="changePass" ng-controller="changePassCtrl" class="main_content span12">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Change Password</h1>
		<br/>
		<div class="acceptInv outerDiv">
			<form  name="changePass" ng-submit="changePassword(changePass)" ng-app>
				<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 42%;">
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
							<lable>
								Current	Password
							</lable>
							<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="old_password" class="passwordTxt" placeholder="Password" required/>
						</div>
						<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
							<lable>
								New	Password
							</lable>
							<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password" required/>
						</div>
						<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
							<lable>
								Confirm Password
							</lable>
							<input data-theme="a" data-inline="true" type="password" name="txtcpassword" ng-model="password_confirmation" class="passwordTxt" placeholder="Confirmation Password" required/>
						</div>
						<div style="margin: 10px 0 0 145px;">
						<!-- <input type="button" class="loginBtn" ng-click="acceptInvitation()" data-inline="true" value="Save" /> -->
						<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true" >
							Save
						</button>

						<p class="errorMsg" ng-show="error">
							{{errormsg}}
						</p>
						<p ng-hide="errorMsg"></p>
						<p class="successMsg" ng-show="success">
							Password sucessfully changed.
						</p>
						<p ng-hide="successMsg"></p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
