<div data-role="page" data-theme="b" id="changePass" ng-controller="changePassCtrl" class="main_content span12">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Change Password</h1>
		<span class="mandatoryFld"><div class="startMsg">*</div> Indicates mandatory fields</span>
		<br/>
		<div class="acceptInv outerDiv">
			<form ng-app="form-example" class="row form-horizontal" name="changePass" ng-submit="changePassword(changePass)" novalidate>
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 42%;">
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<div class="control-group">
						<div class="controls">
							<lable >
								Current	Password<span class="star">*</span>
							</lable>
							<input ng-model="old_password" class="" password-validate required type="password" id="old_password" placeholder="Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								New Password<span class="star">*</span>
							</lable>
							<input ng-model="password" class="" password-validate required type="password" id="inputPassword" placeholder="New Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Confirm Password<span class="star">*</span>
							</lable>
							<input ng-model="password_confirmation" class="" password-validate required type="password"  id="inputPassword" placeholder="Confirm Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
						<div style="margin: 10px 0 0 145px;" >
						<!-- <input type="button" class="loginBtn" ng-click="acceptInvitation()" data-inline="true" value="Save" /> -->
						<div class="controls">
						<button type="submit" class="btn">
							Save
						</button>
						<button class="btn" disabled>
							Save
						</button>
						<a href="" class=" cancelBtn submitBtn btn btn-primary btn-large"  ng-click="BackLink()"> Back </a>
						</div>
						<p class="errorMsg" ng-show="error">
							{{errormsg}}
						</p>
						<p ng-hide="errorMsg"></p>
						<p class="successMsg" ng-show="success">
							Password successfully changed.
						</p>
						<p ng-hide="successMsg"></p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
