<div data-role="page" class="main_content span12" data-theme="b" id="createOutlet" ng-controller="createOutletCtrl">
	<style>
		input[type="image"], input[type="checkbox"], input[type="radio"] {
			margin: 3px 5px 3px 0;
		}
		.main_content span.vertical_center {
			display: inline !important;
			vertical-align: middle !important;
		}
	</style>
	<div class="create_outlet innerDiv" data-role="content">
		<div ></div>
		<div class="leftPanel" >
			<ul class="">
				<li data-ng-class="{active:profileShow,create_outlet:true }">
					<a ng-click="changeTab('profileShow')" > <%= image_tag 'icon_profile.png' %>
					Profile
					<br/>
					<span>Name, Description and contact info</span> </a>
				</li>
				<li data-ng-class="{active:locationShow,create_location:true}" >
					<a  ng-click="changeTab('locationShow')"> <%= image_tag 'icon_location.png' %>
					Location
					<br/>
					<span>Specify the exact location of your outlet</span> </a>
				</li>
				<li data-ng-class="{active:permissionShow,create_manager:true}">
					<a ng-click="changeTab('permissionShow')"> <%= image_tag 'icon_permissions.png' %>
					Permission
					<br/>
					<span>Set user permissions for your staff</span> </a>
				</li>
				<li data-ng-class="{active:ReportShow,create_report:true}">
					<a ng-click="changeTab('ReportShow')"> <%= image_tag 'icon_reports.png' %>
					Reports
					<br/>
					<span>Who gets the reports and how often</span> </a>
				</li>
			</ul>
		</div>
		<div ng-show="profileShow">
			<div data-role="fieldcontain" class="rightPanel loginDiv">
				<h1>Create Restaurant Outlet</h1>
				<form  name="createOutlet" ng-submit="create_outlet(createOutlet)" ng-app>
					<div class="ui-input-data">
						<lable>
							Restaurant Name
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="restaurant_name" ng-model="restaurant_name" class="passwordTxt" required />

					</div>
					<div class="ui-input-data">
						<lable>
							Restaurant Location
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="restaurant_location" ng-model="restaurant_location" class="passwordTxt" required />
					</div>
					<div class="ui-input-data">
						<lable>
							Contact Number
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="contact_number" class="passwordTxt" required />
					</div>
					<div class="ui-input-data">
						<lable>
							Email Address
						</lable>
						<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email_address" class="passwordTxt" required />
					</div>
					<div class="ui-input-data">
						<lable>
							Manager Id
						</lable>
						<select
						ng-change="selectAction()"
						ng-model="myOption"
						ng-options="value.id as value.first_name for value in managerList">
							<option>--</option>
						</select>
					</div>
					<div class="ui-input-data">
						<lable>
							Outlet Type
						</lable>
						<span ng-repeat="outletType in outletTypes" style="display: inline; font-size: 13px; padding: 0;">
							<input  type="checkbox" value="{{outletType.id}}">
							{{outletType.name}}
							</input> </span>
					</div>
					<div class="ui-input-data">
						<lable>
							Cuisine Type
						</lable>
						<span ng-repeat="cuisineType in cuisineTypes" style="display: inline; font-size: 13px; padding: 0;">
							<input  type="checkbox" value="{{cuisineType.id}}" ng-checked="{{checkedCuisineTypes.checked}}" name="cousine{{cuisineType.id}}">
							{{cuisineType.name}}
							</input> </span>
					</div>
					<div class="ui-input-data">
						<lable>
							Opening Hours
						</lable>
						<span class="vertical_center">from</span>
						<select ng-model="fromTime">
							<option value="10.00am">10.00am</option>
							<option value="11.00am">11.00am</option>
							<option value="12.00pm">12.00pm</option>
							<option value="1.00pm">01.00pm</option>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="vertical_center"> to</span>
						<select ng-model="toTime">
							<option value="10.00pm">10.00pm</option>
							<option value="11.00pm">11.00pm</option>
							<option value="12.00am">12.00am</option>
							<option value="1.00am">01.00am</option>
						</select>
					</div>
					<div class="ui-input-data">
						<lable>
							Delivery
						</lable>
						<input type="radio" name="delivery" ng-model="Delivery" value="true">
						Yes
						<input type="radio"  name="delivery" ng-model="Delivery" value="false">
						No
					</div>
					<div class="ui-input-data">
						<lable>
							Serves Alcohol
						</lable>
						<input type="radio"  name="serves_alcohol"  ng-model="serves_alcohol" value="true">
						Yes
						<input type="radio" ng-model="serves_alcohol" name="serves_alcohol" value="false">
						No
					</div>
					<div class="ui-input-data">
						<lable>
							Outdoor Seating
						</lable>
						<input type="radio"  ng-model="outdoor_Seating" name="outdoor_Seating" value="true">
						Yes
						<input type="radio"  ng-model="outdoor_Seating" name="outdoor_Seating" value="false">
						No
					</div>
					<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true" >
						Save
					</button>
				</form>
			</div>
			<div class="clr"></div>
			<p ng-show="error" class="errorMsg">
				Please fillup the form.
			</p>
			<p ng-hide="error" ></p>
			<p ng-show="successMsg" class="successMsg">
				Outlet is created Successfully
			</p>
			<p ng-hide="success"></p>
		</div>
		<div id ="location" ng-show="locationShow">
			This is location based div only
			<div id="map"></div>
		</div>
		<div id ="permission" ng-show="permissionShow" ng-controller="createManagerCtrl">
			<!-- <div data-role="fieldcontain" class="manager_list rightPanel">
				<h3>Select a manager for this outlet</h3>
				<ul >
					<li ng-repeat="item in items" >
						<a ng-click="open(item)"> {{item.first_name}} </a>
					</li>
				</ul>
				<input type="button" class="btn_cls" ng-click="save_manager()" data-inline="true" value="Save" />
				<span>OR</span>
				<input type="button" class="btn_cls" ng-click="add_new_manager()" data-inline="true" value="Add a new manager" />
			</div> -->
			<div data-role="fieldcontain" class="add_manager rightPanel">
				<h3>Add a new manager</h3>
				<form  name="createManager" ng-submit="create_manager(createManager)" ng-app>
					<div class="ui-input-data">
						<lable>
							First Name
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="txtFirstName" ng-model="first_name" class="passwordTxt" placeholder="Enter first name" required/>
					</div>
					<div class="ui-input-data">
						<lable>
							Last Name
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="txtLastName" ng-model="last_name" class="passwordTxt" placeholder="Enter last name" required/>
					</div>
					<div class="ui-input-data">
						<lable>
							Email Address
						</lable>
						<input data-theme="a" data-inline="true" type="email" name="txtEmail" ng-model="email_address_manager" class="passwordTxt" placeholder="Enter email address" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<lable>
							Password
						</lable>
						<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Enter password" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<lable>
							Confirm Password
						</lable>
						<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Enter confirm password"/>
					</div>
					<div class="ui-input-data">
						<lable>
							Phone
						</lable>
						<input data-theme="a" data-inline="true" type="text" name="txtPhone" ng-model="add_contact_number" class="passwordTxt" placeholder="Enter phone no" required/>
					</div>

					<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true">
						Add Manager
					</button>
					<p ng-show="error" class="errorMsg">
						{{errorMsg}}
					</p>
					<p ng-hide="error" ></p>
					<p ng-show="success" class="successMsg">
						Manager added successfully.
					</p>
					<p ng-hide="success" ></p>
				</form>
			</div>
			<div class="clr"></div>

		</div>
		<div id ="reports" ng-show="ReportShow">
			This is reports based div only
		</div>

	</div>
</div>

