<div data-role="page" class="main_content span12" data-theme="b" id="createOutlet" ng-controller="createOutletCtrl">
	<div class="innerDiv" data-role="content">
		<h1>Create Restaurant Outlet</h1>
		<div data-role="fieldcontain" class="loginDiv">
			<div class="ui-input-data">
				<lable>Restaurant Name</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="restaurant_name" class="passwordTxt" />
			</div>
			<div class="ui-input-data">
				<lable>Restaurant Location</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="restaurant_location" class="passwordTxt" />
			</div>
			<div class="ui-input-data">
				<lable>Contact Number</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="contact_number" class="passwordTxt" />
			</div>
			<div class="ui-input-data">
				<lable>Email Address</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="email_address" class="passwordTxt" />
			</div>
			<div class="ui-input-data">
			<lable>Outlet Type</lable>
			<input type="checkbox" name="outlet" value="fast_casuale">Fast Casuale
			<input type="checkbox" name="outlet" value="Casual">Casual 
			<input type="checkbox" name="outlet" value="Cafe">Cafe
			<input type="checkbox" name="outlet" value="fine_dining">Fine Dining
			</div>
			<div class="ui-input-data">
			<lable>Cuisine Type</lable>
			<input type="checkbox" name="cuisine" value="fast_casuale">Chinese
			<input type="checkbox" name="cuisine" value="Casual">Japanese 
			<input type="checkbox" name="cuisine" value="Cafe">Lebanese
			<input type="checkbox" name="cuisine" value="Casual">Italian 
			<input type="checkbox" name="cuisine" value="Cafe">Pizzeria
			<input type="checkbox" name="cuisine" value="fine_dining">American
			</div>
			<div class="ui-input-data">
			<lable>Opening Hours</lable>
			from <select ng-model="fromTime">
				  <option value="10.00pm">10.00pm</option>
				  <option value="11.00pm">10.00pm</option>
				  <option value="12.00pm">10.00pm</option>
				  <option value="1.00pm">10.00pm</option>
				</select>
		    to <select ng-model="toTime">
				   <option value="10.00pm">10.00pm</option>
				  <option value="11.00pm">10.00pm</option>
				  <option value="12.00pm">10.00pm</option>
				  <option value="1.00pm">10.00pm</option>
				</select>
			</div>
			<div class="ui-input-data">
			<lable>Delivery</lable>
			<input type="radio" ng-model="Delivery" value="true">Yes
			<input type="radio" ng-model="Delivery" value="false">No
			</div>
			<div class="ui-input-data">
			<lable>Serves Alcohol</lable>
			<input type="radio" ng-model="serves_alcohol" value="true">Yes
			<input type="radio" ng-model="serves_alcohol" value="false">No
			</div>
			<div class="ui-input-data">
			<lable>Outdoor Seating</lable>
			<input type="radio" ng-model="outdoor_Seating" value="true">Yes
			<input type="radio" ng-model="outdoor_Seating" value="false">No
			</div>
			<input type="button" class="loginBtn" ng-click="create_outlet()" data-inline="true" value="Save" />
		</div>
		<p ng-show="error" class="errorMsg">Please fillup the form.</p>
		<p ng-hide="error" ></p>
		<p ng-show="success" class="successMsg">Outlet is created by Id {{outletID}}</p>
		<p ng-hide="success" ></p>
	</div>
</div>