<div data-role="page" class="main_content span12" data-theme="b" id="createManager" ng-controller="createManagerCtrl">

	<div class="create_outlet innerDiv" data-role="content">
		<div class="leftPanel" ng-include src ="'<%= asset_path 'sidepanel.html' %>'" ></div>
		<div data-role="fieldcontain" class="rightPanel loginDiv">
			<h3>Select a manager for this outlet</h3>
			</div>
		<div data-role="fieldcontain" class="rightPanel loginDiv">
			<h3>Add a new manager</h3>
			<div class="ui-input-data">
				<lable>
					First Name
				</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtFirstName" ng-model="first_name" class="passwordTxt" placeholder="Enter first name"/>
			</div>
			<div class="ui-input-data">
				<lable>
					Last Name
				</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtLastName" ng-model="last_name" class="passwordTxt" placeholder="Enter last name"/>
			</div>
			<div class="ui-input-data">
				<lable>
					Email Address
				</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtEmail" ng-model="email_address" class="passwordTxt" placeholder="Enter email address"/>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<lable>
					Password
				</lable>
				<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Enter password"/>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<lable>
					Confirm Password
				</lable>
				<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Enter confirm password"/>
			</div>
			<div class="ui-input-data">
				<lable>
					Phone
				</lable>
				<input data-theme="a" data-inline="true" type="text" name="txtPhone" ng-model="contact_number" class="passwordTxt" placeholder="Enter phone no"/>
			</div>

			<input type="button" class="loginBtn" ng-click="create_manager()" data-inline="true" value="Add" />
			
			<p ng-show="error" class="errorMsg">
			{{errorMsg}}
		</p>
		<p ng-hide="error" ></p>
		<p ng-show="success" class="successMsg">
			Manager is created by Id {{manager_id}}
		</p>
		<p ng-hide="success" ></p>
		</div>
		<div class="clr"></div>
		
	</div>
</div>