<div data-role="page" class="main_content span12" style="width: auto;" data-theme="b" id="dashboardComments" ng-controller="dashboardCommentsCtrl">
	<style>
		body {
			background: none repeat scroll 0 0 #FFFFFF !important;
		}

		.ngView {
			padding: 0;
		}
		.navBarCls .nav-tabs > li > a, .nav-pills > li > a {
			padding: 6px 12px !important;
		}
		#dp2, #dp3 {
			margin: 6px;
		}
		.viewAccPage {
			margin: 15px 25px;
			padding: 5px 0;
		}
		.showNav ul {
			margin-right: 35px !important
		}
		.header .span12 {
			width: 1235px;
		}
	</style>
	<div class="showNav navBarCls" >
		<div class="dashboardHeader">
			<div class="input-append date"  id="dp3"  data-date="{{v.Dt | date:'dd-MM-yyyy'}}" data-date-format="dd-mm-yyyy">
				<input id="sDate" class="span2" size="16" type="text" ng-model="endDate" value="End Date" readonly>
				<span class="add-on"><i class="icon-th"></i></span>
				<!-- data-date="{{v.Dt | date:'dd-MM-yyyy'}}" -->
			</div>
			<div class="input-append date"  id="dp2" data-date="{{v.Dt | date:'dd-MM-yyyy'}}" data-date-format="dd-mm-yyyy">
				<input class="span2" size="16" type="text" ng-model="startDate"  value="Start Date" readonly>
				<span class="add-on"><i class="icon-th"></i></span>
			</div>
			<select ng-model="outletOption" class="outletDropDown" ng-change="selectOutlet()" ng-options="value.id as value.name+', '+value.address for value in outletNameList">
				<option value="">Select Outlet</option>
			</select>
		</div>
		<ul class="span12 nav nav-tabs">
			<li id="comments" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/comments?outletId={{addOutletNo}}" style="border-bottom:none"><img src="assets/ic_comments.png" />COMMENTS</a>
				<a ng-hide="addOutletId" href="#/comments" style="border-bottom:none"><img src="assets/ic_comments.png" />COMMENTS</a>
			</li>
			<li id="trends" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/trends?outletId={{addOutletNo}}"><img src="assets/ic_trends.png" />TRENDS</a>
				<a ng-hide="addOutletId" href="#/trends"><img src="assets/ic_trends.png" />TRENDS</a>
			</li>
			<li id="snapshot" class="active dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/snapshot?outletId={{addOutletNo}}" class="active"><img src="assets/ic_snapshots.png" />SNAPSHOT </a>
				<a ng-hide="addOutletId" href="#/snapshot" class="active"><img src="assets/ic_snapshots.png" />SNAPSHOT </a>
			</li>
		</ul>
	</div>

	<div id="outletManager" class="viewAccPage commentsDiv"  >
		<h3 class="redemptionMsg" ng-show="!feedbackList.length">
			<span ng-show="feedBackListCount">Your customers have not submitted any feedback.</span></h3>
		<div ng-show="feedbackList.length" class="home_page_view">
			<div ng-repeat="feedbacks in feedbackList" class="feedback_step">
				<div class="divPadding promo_code">
					<span class="promo_txt">Promoter Score</span>
					<br/>
					<span class="promo_value">{{feedbacks.promoter_score}}</span>
				</div>
				<div class="divPadding promo_code_def">
					<div style="">
						<div class="def_icon">
							<div ng-switch on="feedbacks.food_quality">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
							</div>

							Food
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.speed_of_service">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
							</div>
							Speed
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.ambience">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0"	 src="/assets/ic_grey_round.png" />
							</div>
							Ambiance
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.value_for_money">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
							</div>
							Value
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.friendliness_of_service">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
							</div>
							Friendliness
						</div>
						<div class="def_icon">
							<div ng-switch on="feedbacks.cleanliness">
								<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
								<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
								<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
							</div>
							Clean
						</div>
					</div>
				</div>
				<div class="divPadding promo_code_desc">
					<span>{{feedbacks.comment}}</span>
				</div>
				<div class="clr"></div>
				<div class="update_time">
					<span class="timeago" >{{feedbacks.updated_at | date:'h:mm a, EEEE MMM. d, y'}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
