<div data-role="page" class="main_content span12" style="width: auto;" data-theme="b" id="dashboardTrends" ng-controller="dashboardTrendsCtrl">
	<style>
		body {
			background: none repeat scroll 0 0 #FFFFFF !important;
		}
		.ngView {
			padding: 0;
		}
		.navBarCls .nav-tabs > li > a, .nav-pills > li > a {
			padding: 6px 12px !important;
		}
		#dp2, #dp3 {
			margin: 6px;
		}
		.viewAccPage {
			margin: 15px 25px;
			padding: 5px 0;
		}
		.showNav ul {
			margin-right: 35px !important
		}
		.header .span12 {
			width: 1235px;
		}
	</style>
	<div class="showNav navBarCls" >
		<div class="dashboardHeader">
			<input type="text" style="width: 210px" name="reservation" id="reportrange" value="Date from - Date to"  class="span4 firstshow"/>
			<select ng-model="outletTrend" ng-change="selectOutlet()" class="outletDropDown" ng-options="value.id as value.name+', '+value.address for value in outletNameList">
				<option value="">Select Outlet</option>
			</select>
		</div>
		<ul class="span12 nav nav-tabs">
			<li id="comments" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/comments?outletId={{addOutletNo}}" style="border-bottom:none"><img src="assets/ic_comments.png" />COMMENTS</a>
				<a ng-hide="addOutletId" href="#/comments" style="border-bottom:none"><img src="assets/ic_comments.png" />COMMENTS</a>
			</li>
			<li id="trends" class="dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/trends?outletId={{addOutletNo}}"><img src="assets/ic_trends.png" />TRENDS</a>
				<a ng-hide="addOutletId" href="#/trends"><img src="assets/ic_trends.png" />TRENDS</a>
			</li>
			<li id="snapshot" class="active dashboardLi diffLinks">
				<a ng-show="addOutletId" href="#/snapshot?outletId={{addOutletNo}}" class="active"><img src="assets/ic_snapshots.png" />SNAPSHOT </a>
				<a ng-hide="addOutletId" href="#/snapshot" class="active"><img src="assets/ic_snapshots.png" />SNAPSHOT </a>
			</li>
		</ul>
	</div>
	<div id="dashboard_trends" class="viewAccPage" style="margin: 0 20px;padding: 0;overflow: hidden;">
		<div class="menu_bar">
			<div class="headingCls" style="border-top:none;">
				<!-- <img src="/assets/ic_customer_experience.png" /> -->
				<span>Customer Experience</span>
			</div>
			<div class="clr"></div>
			<ul class="custExp">
				<li style="border-top:none">
					<a id="food" href="javascript:void(0)" class="active">Food Quality</a>
				</li>
				<li>
					<a id="speed" href="javascript:void(0)">Speed of Service</a>
				</li>
				<li>
					<a id="friendly" href="javascript:void(0)">Friendliness of Service</a>
				</li>
				<li>
					<a id="ambiance" href="javascript:void(0)">Ambiance</a>
				</li>
				<li>
					<a id="cleanly" href="javascript:void(0)">Cleanliness</a>
				</li>
				<li>
					<a id="moneyVal" href="javascript:void(0)">Value for Money</a>
				</li>
			</ul>
			<div class="clr"></div>
			<div class="headingCls">
				<!-- <img src="/assets/ic_net_promotor_score.png" /> -->
				<span>Net Promoter Score </span>
			</div>
			<div class="clr"></div>
			<ul class="netPromo">
				<li style="border-top:none">
					<a id="npsOverview" href="javascript:void(0)">NPS Overview</a>
				</li>
				<li>
					<a id="npsBreakdown" href="javascript:void(0)">NPS Breakdown</a>
				</li>
			</ul>
			<div class="clr"></div>
			<div class="headingCls">
				<!-- <img src="/assets/ic_usuage.png" /> -->
				<span>Usage </span>
			</div>
			<div class="clr"></div>
			<ul class="usage">
				<li style="border-top:none">
					<a id="feedbackSubmit" href="javascript:void(0)">Feedback Submissions</a>
				</li>
				<li>
					<a id="redemProc" href="javascript:void(0)">Redemptions Processed</a>
				</li>
				<li>
					<a id="discountClaim" href="javascript:void(0)">Discounts Claimed</a>
				</li>
				<li>
					<a id="pointsIssued" href="javascript:void(0)">Points Issued</a>
				</li>
				<li>
					<a id="rewardsPool" href="javascript:void(0)">Rewards Pool</a>
				</li>
			</ul>
			<div class="clr"></div>
			<div class="headingCls">
				<!-- <img src="/assets/ic_customers.png" /> -->
				<span>Customers</span>
			</div>
			<div class="clr"></div>
			<ul class="customers">
				<li style="border-top:none">
					<a id="demographics" href="javascript:void(0)">Demographics</a>
				</li>
				<li>
					<a id="usersGraph" href="javascript:void(0)">New Vs Returning Users</a>
				</li>
				<!-- <li>
				<a id="timeOfVisit" href="javascript:void(0)">Time of Visit</a>
				</li> -->
				<li>
					<a id="chequeSize" href="javascript:void(0)">Cheque Size</a>
				</li>
			</ul>
			<div class="clr"></div>
		</div>
		<div class="chart_div">
			<span class="chart_heading">{{chart_heading}} > {{chart_subheading}}</span>
			<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			<div ng-show="custExpSummary" class="custExpSummary">
				<div class="colno1">
					<b>People who voted:</b>
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="colno1">
					Positive
				</div>
				<div>
					{{positive | number:1}}%
				</div>
				<div class="border_right_none colno3" ng-switch on="positiveChange">
					<span ng-switch-default > {{positiveChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="colno1">
					Neutral
				</div>
				<div>
					{{neutral | number:1}}%
				</div>
				<div class="border_right_none colno3" ng-switch on="neutralChange">
					<span ng-switch-default> {{neutralChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_bottom_none colno1">
					Negative
				</div>
				<div class="border_bottom_none">
					{{negative | number:1}}%
				</div>
				<!-- <div class="border_bottom_none">{{(negative/(positive+neutral+negative))*100 | number:1}}%</div> -->
				<div class="border_right_none border_bottom_none colno3" ng-switch on="negativeChange">
					<span ng-switch-default> {{negativeChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
			<div ng-show="NPSSummary" class="custExpSummary">
				<div class="colno1">
					&nbsp;
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="colno1">
					NPS
				</div>
				<div>
					{{NPS | number:1}}%
				</div>
				<div class="border_right_none colno3" ng-switch on="NPSChange">
					<span ng-switch-default> {{NPSChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_bottom_none colno1">
					No. of feedback submissions
				</div>
				<div class="border_bottom_none">
					{{noOfFeedback}}
				</div>
				<div class="border_right_none border_bottom_none colno3" ng-switch on="noOfFeedbackChange">
					<span ng-switch-default> {{noOfFeedbackChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
			<div ng-show="feedbackCount" class="custExpSummary" style=" width: 694px;">
				<div class="colno1">
					&nbsp;
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div>
					<b>Avg. Per Day</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="border_bottom_none colno1">
					{{text}}
				</div>
				<div class="border_bottom_none">
					{{noOfFeedback}}
				</div>
				<div class="border_bottom_none">
					{{noOfFeedbackPerDay | number:1}}
				</div>
				<div class="border_right_none border_bottom_none colno3" ng-switch on="noOfFeedbackChange">
					<span ng-switch-default> {{noOfFeedbackChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
			<div ng-show="rewardPool" class="custExpSummary">
				<div class="colno1">
					&nbsp;
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="border_bottom_none colno1">
					{{text}}
				</div>
				<div class="border_bottom_none">
					Dhs. {{rewardPoolCount | number:1}}
				</div>
				<div class="border_right_none border_bottom_none colno3" ng-switch on="rewardPoolCountChange">
					<span ng-switch-default> {{rewardPoolCountChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
			<div ng-show="demographic" class="custExpSummary">
				<div class="colno1">
					<b>Gender Segmentation</b>
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="colno1">
					Male
				</div>
				<div ng-switch on="maleCount">
					<span ng-switch-default> {{maleCount}}% </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_right_none colno3" ng-switch on="maleCountChange">
					<span ng-switch-default> {{maleCountChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_bottom_none colno1">
					Female
				</div>
				<div class="border_bottom_none" ng-switch on="femaleCount">
					<span ng-switch-default> {{femaleCount}}% </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_right_none border_bottom_none colno3" ng-switch on="femaleCountChange">
					<span ng-switch-default> {{femaleCountChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
			<div ng-show="usergraph" class="custExpSummary" style=" width: 694px;">
				<div class="colno1">
					&nbsp;
				</div>
				<div>
					<b>Over Period</b>
				</div>
				<div>
					<b>Avg. Per Day</b>
				</div>
				<div class="border_right_none colno3">
					<b>Change VS Precending Period</b>
				</div>
				<div class="colno1">
					New User
				</div>
				<div>
					{{newUser}}
				</div>
				<div>
					{{newUserPerDay | number:1}}
				</div>
				<div class="border_right_none colno3" ng-switch on="newUserChange">
					<span ng-switch-default> {{newUserChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
				<div class="border_bottom_none colno1">
					Returning User
				</div>
				<div class="border_bottom_none">
					{{retUser}}
				</div>
				<div class="border_bottom_none">
					{{retUserPerDay | number:1}}
				</div>
				<div class="border_right_none border_bottom_none colno3" ng-switch on="retUserChange">
					<span ng-switch-default> {{retUserChange}} </span>
					<span ng-switch-when="null"> - </span>
				</div>
			</div>
		</div>
	</div>
</div>
