<div data-role="page" data-theme="b" id="feedback" ng-controller="feedbackController">
	<style>
.nextArrow{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -464px -608px;
	cursor: pointer;
	float: right;
	height: 23px;
	width: 21px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				LEAVE FEEDBACK
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div class="enter_code">
				Enter your code to proceed
			</div>
			<div class="menDiv">
				<div class="backColr">
					{{digit1}}
					
				</div>
				<div class="backColr">
						{{digit2}}
				</div>
				<div class="backColr">
						{{digit3}}
				</div>
				<div class="backColr">
						{{digit4}}
				</div>
				<div class="backColr" style="border-right:0">
						{{digit5}}
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<p ng-show="error" class="errorMsg">
			{{errorMsg}}
		</p>
		<div class="keypad">
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('1')">
						1
				</div>
				<div class="backColr" ng-click="enterValues('2')">
						2
				</div>
				<div class="backColr" ng-click="enterValues('3')">
						3
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('4')">
						4
				</div>
				<div class="backColr" ng-click="enterValues('5')">
						5
				</div>
				<div class="backColr" ng-click="enterValues('6')">
						6
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('7')">
						7
				</div>
				<div class="backColr" ng-click="enterValues('8')">
						8
				</div>
				<div class="backColr" ng-click="enterValues('9')">
						9
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="clearBackColr" ng-click="clear()">
					<div class="clear">
						C
					</div>
				</div>
				<div class="backColr" style=" padding:  0;" ng-click="enterValues('0')">
						0
				</div>
				<div class="nextBackColr" ng-click="next()">
					<div class="nxtTxt">
						NEXT
					</div>
					<%= image_tag 'p_arrow_right.png' %>
					<!-- <div class="nextArrow"></div> -->
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
