<div data-role="page" data-theme="b" id="feedbackSub" ng-controller="feedbackSubmitController">
	<style>
.fb_image{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: 5px -477px;
cursor: pointer;
height: 56px;
width: 45px;
}
.twit_image{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -33px -477px;
cursor: pointer;
height: 56px;
width: 45px;
}
.google_image{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -84px -477px;
	cursor: pointer;
	height: 56px;
	width: 35px;
	}
	</style>
	<div data-role="content">
		<div class="username" style="padding:0;">
			<div class="signUp">
				THANKS!
			</div>
			<div class="clr"></div>
		</div>
		<div class="thanksMsg" align="center">
			<div class="innerDiv">
				Thank you for leaving your feedback you earned
			</div>
		</div>
		<div align="center" class="pointsEarnedDiv">
			<div align="center" class="pointsEarned">
				{{points}}
			</div>
			<div class="points">
				POINTS
			</div>
			<div class="clr"></div>
			<div class="borderFeedBackSubmit"></div>
		</div>
		<div class="shareDiv" align="center">
			<div class="shareTxt">
				Share your experience
			</div>
			<div id='parent' style='width: 100%;text-align:center;'>
				<div id='child' style='overflow: hidden;width: 198px;margin: 0 auto;'>
					<div ng-click="facebook()" class="backColorYellow" style="float: left"><img src="/assets/ic_fb_purple.png" />
					</div>
					<div ng-click="twitter()" class="backColorYellow" style="float: left"><img src="/assets/ic_twitter_purple.png" />
					</div>
					<div ng-click="google()" class="backColorYellow" style="float: left"><img src="/assets/ic_gplus_purple.png" />
					</div>
				</div>
			</div>
			<div class="shareIconsDiv">
				<!-- <div class="backColorYellow">
					<div ng-click="facebook()" class="fb_image1"><img src="/assets/ic_fb_purple.png" />
					</div>
				</div>
				<div class="backColorYellow">
					<div ng-click="twitter()" class="twit_image1"><img src="/assets/ic_twitter_purple.png" />
					</div>
				</div>
				<div class="backColorYellow">
					<div ng-click="google()" class="google_image1"><img src="/assets/ic_gplus_purple.png" />
					</div>
				</div> -->
				<div class="clr"></div>
			</div>
		</div>
		<div class="footerDiv" style="position: relative; margin:10% 0 0 0;">
			<div class="logo_btm">
				<%= image_tag 'bird_yellow_k.png' %>
			</div>
			<div class="clr"></div>
			<div class="username">
				<div style="padding: 0 45%;">
					<div ng-click="home()" class="home"></div>
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>

</div>
