<div data-role="page" data-theme="b" id="feedback" ng-controller="feedbackController">
	<style>
.nextArrow{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -464px -608px;
	cursor: pointer;
	float: right;
	height: 23px;
	width: 21px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				LEAVE FEEDBACK
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div class="enter_code">
				Enter your code to proceed
			</div>
			<div class="menDiv">
				<div class="backColr">
					<div class="count">
						{{digit1}}
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{digit2}}
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{digit3}}
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{digit4}}
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{digit5}}
					</div>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="keypad">
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('1')">
					<div class="count">
						1
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('2')">
					<div class="count">
						2
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('3')">
					<div class="count">
						3
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('4')">
					<div class="count" >
						4
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('5')">
					<div class="count">
						5
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('6')">
					<div class="count">
						6
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="backColr" ng-click="enterValues('7')">
					<div class="count">
						7
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('8')">
					<div class="count">
						8
					</div>
				</div>
				<div class="backColr" ng-click="enterValues('9')">
					<div class="count">
						9
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="secondRow">
				<div class="clearBackColr" ng-click="clear()">
					<div class="clear">
						C
					</div>
				</div>
				<div class="backColr">
					<div class="count" ng-click="enterValues('0')">
						0
					</div>
				</div>
				<div class="nextBackColr" ng-click="next()">
					<div class="next">
						NEXT
					</div>
					<%= image_tag 'p_arrow_right.png' %>
					<!-- <div class="nextArrow"></div> -->
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<p ng-show="error" class="errorMsg">
			{{errorMsg}}
		</p>

	</div>
