<div data-role="page" data-theme="b" id="forgotpass" ng-controller="forgotPasswordController">
	<div data-role="content">
		<div class="homeImg" align="center">
			<%= image_tag 'icon_home.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv loginDiv">
			<div class="ui-input-text ui-body-a">
				<input data-theme="a" data-inline="true" type="email" name="txtUsername" ng-model="email" placeholder="Email address"/>
			</div>
			<input type="button" class="signBtn" ng-click="sendLink()" data-inline="true" value="Submit" />
				<input type="button" class="cancelBtn" ng-click="cancel()" data-inline="true" value="Cancel" />
		</div>
		<p class="errorMsg" ng-show="erromsg">Invalid Email Id</p>
		<p class="sucsessMsg" ng-show="success">If this email account exists with us you will recieve an email to reset your password.</p>
	</div>
</div>
