<div data-role="page" data-theme="b" id="forgotPass" ng-controller="forgotPassCtrl" class="main_content span12">
			<div class="loginDiv innerDiv" data-role="content">
				<h1> Forgot Password</h1>
				<div class="acceptInv outerDiv">
					<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 37%;">
						<form  name="forgotPass" ng-submit="SendLink(forgotPass)" ng-app>
						<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
							<lable style="width: 95px;">
								Email Address
							</lable>
							<input data-theme="a" data-inline="true" type="email" name="txtUsername" ng-model="email" placeholder="Email address" required/>
						</div>
						<!-- <input type="button" class="loginBtn" ng-click="SendLink()" data-inline="true" value="Send Link" /> -->
						<div style="margin: 10px 0 0 95px;">
						<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true" >
							Send Link
						</button>
						<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="BackLink()" >
							Back
						</button>
						</div>
						<!-- <input type="button" class="loginBtn" ng-click="BackLink()" data-inline="true" value="Back" /> -->
						</form>
					</div>
					<p class="errorMsg" ng-show="erromsg">Invalid Email Id</p>
					<p ng-hide="erromsg"></p>
					
					<p class="sucsessMsg" ng-show="success">If this email account exists with us you will recieve an email to reset your password.</p>
					<p ng-hide="success"></p>
				</div>
				<div class="logo_btm"></div>
			</div>
		</div>