<div data-role="page" data-theme="b" id="forgotPass" ng-controller="forgotPassCtrl" class="main_content span12">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Forgot your password?</h1>
		<span>Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@kanari.co.</span>
		<!-- <span class="mandatoryFld"><div class="startMsg">*</div> Indicate mandatory fields</span> -->
		<div class="acceptInv outerDiv">
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 37%;">
				<form ng-app="form-example" class="row form-horizontal"  name="forgotPass" ng-submit="SendLink(forgotPass)" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								Email Address
								<!-- <span class="star">*</span> -->
							</lable>
							<input type="email" id="inputEmail" placeholder="Email" ng-model="email" required>
							<div class="input-help">
								<h4>Invalid Email</h4>
							</div>
						</div>
					</div>
					
					<div class="clr"></div>
					<!-- <input type="button" class="loginBtn" ng-click="SendLink()" data-inline="true" value="Send Link" /> -->
					<div style="margin: 10px 0 0 145px;">
						<div class="controls">
							<button type="submit" class="btn">
								Send Link
							</button>
							<button class="btn" disabled>
								Send Link
							</button>
							<a href="" class="submitBtn btn btn-primary btn-large"  ng-click="BackLink()"> Back </a>
						</div>
						
						<br/>
						<p class="errorMsg" ng-show="erromsg">
							Invalid Email Id
						</p>
						<p ng-hide="erromsg"></p>

					</div>
					<!-- <input type="button" class="loginBtn" ng-click="BackLink()" data-inline="true" value="Back" /> -->
				</form>
			</div>
			<p class="sucsessMsg" ng-show="success">
				If this email account exists with us you will recieve an email to reset your password.
			</p>
			<p ng-hide="success"></p>
		</div>
		<div class="logo_btm"></div>
	</div>
</div>