<div data-role="page" data-theme="b" id="home" ng-controller="homeController">
	<style>
.setting {
background-image: url("/assets/ic_setting_yellow.png");
background-position: 0 3px;
background-repeat: no-repeat;
cursor: pointer;
float: right;
height: 47px;
width: 42px;
}
.calender{
background-image: url(<%= asset_path 'ic_calender_yellow.png' %>
	);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	float: right;
	height: 39px;
	margin-top: 2%;
	width: 45px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="setting" ng-click="setting()"></div>
			<a ng-click="homeClk()">{{userName}}</a>
			<span class="role">{{role}}</span>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div>
				<div class="number">
					{{points}}
				</div>
				<span class="points">POINTS</span>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr">
					<div class="count">
						10
					</div>
					<div class="descript">
						Tips left
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						{{aedSaved}}
					</div>
					<div class="descript">
						AED Saved
					</div>
				</div>
				<div class="backColr" style="border-right: medium none;">
					<div class="count">
						{{redeems}}
					</div>
					<div class="descript">
						Redeems
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="whatLike">
				What would you like to do?
			</div>
			<div class="imgDiv">
				<div class="yellowBack" ng-click="feedback()">
					<div class="feedback">
						<%= image_tag 'b_leave_feedback.png' %>
					</div>
					<span class="feedbackTxt">LEAVE FEEDBACK</span>
				</div>
				<div class="yellowBack" ng-click="redeemPoints()" style="border-right: medium none;">
					<div class="redeems">
						<%= image_tag 'b_redeem_points.png' %>
					</div>
					<span class="feedbackTxt">REDEEM POINTS</span>
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="bottomDiv">
			<div class="recentActDiv">
				<div class="recentAct">
					RECENT ACTIVITY
				</div>
				<div class="actDate">
					05.03.2013
				</div>
				<div class="clr"></div>
			</div>
			<div class="calender"></div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="clr"></div>
</div>
