<div id="homepage" align="center" ng-controller="homePageController" >
	<h3 class="redemptionMsg" ng-show="feedbkMsg">Your customers have not submitted any feedback today</h3>
	<div ng-show="feedbackList.length" class="home_page_view">
		<!-- <div id="refresh" ng-click="refresh()">
			<strong>Refresh feedbacks</strong>
		</div> -->
		<div id="pullDown">
			<span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
		</div>
		<div class="clr"></div>
		<div ng-repeat="feedbacks in feedbackList" class="feedback_step">
			<div class="divPadding promo_code">
				<span class="promo_txt">Promoter
					<br/>
					Score</span>
				<br/>
				<span class="promo_value">{{feedbacks.promoter_score}}</span>
			</div>
			<div class="divPadding promo_code_def">
				<div style=" ">
					<div class="def_icon">
						<div ng-switch on="feedbacks.food_quality">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
						</div>

						Food
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.speed_of_service">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
						</div>
						Speed
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.ambience">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0"	 src="/assets/ic_grey_round.png" />
						</div>
						Ambiance
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.value_for_money">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
						</div>
						Value
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.friendliness_of_service">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
						</div>
						Friendliness
					</div>
					<div class="def_icon">
						<div ng-switch on="feedbacks.cleanliness">
							<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
							<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
							<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
						</div>
						Clean
					</div>
				</div>
			</div>
			<div class="divPadding promo_code_desc">
				<span>{{feedbacks.comment}} <!-- The smokehouse BBQ chicken is the best sandwich that has ever been added to the
					stole of satwiches. It has all the flavour of fattning sandwiches but
					with the healthy side... --><!-- </span>
					</div>
					<div class="clr"></div>
					<div class="update_time">
					<span timeago-autoupdate="feedbacks.updated_at"></span>

					</div>
					</div>
					</div>
					<!-- <div ng-show="feedbackList.length" id="divexample1" class="home_page_view">
					<div ng-repeat="feedbacks in feedbackList" class="feedback_step">
					<div class="divPadding promo_code">
					<span class="promo_txt">Promoter Score</span>
					<br/>
					<span class="promo_value">{{feedbacks.promoter_score}}</span>
					</div>
					<div class="divPadding promo_code_def">
					<div style=" margin: 0 auto;width: 100%">
					<div class="def_icon">
					<div ng-switch on="feedbacks.food_quality">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
					</div>

					Food
					</div>
					<div class="def_icon">
					<div ng-switch on="feedbacks.speed_of_service">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
					</div>
					Speed
					</div>
					<div class="def_icon">
					<div ng-switch on="feedbacks.ambience">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0"	 src="/assets/ic_grey_round.png" />
					</div>
					Ambiance
					</div>
					<div class="def_icon">
					<div ng-switch on="feedbacks.value_for_money">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
					</div>
					Value
					</div>
					<div class="def_icon">
					<div ng-switch on="feedbacks.friendliness_of_service">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
					</div>
					Friendliness
					</div>
					<div class="def_icon">
					<div ng-switch on="feedbacks.cleanliness">
					<img ng-switch-when="1" src="/assets/ic_yellow_tick.png" />
					<img ng-switch-when="-1" src="/assets/ic_red_cross.png" />
					<img ng-switch-when="0" src="/assets/ic_grey_round.png" />
					</div>
					Clean
					</div>
					</div>
					</div>
					<div class="divPadding promo_code_desc">
					<span>{{feedbacks.comment}} <!-- The smokehouse BBQ chicken is the best sandwich that has ever been added to the
					stole of satwiches. It has all the flavour of fattning sandwiches but
					with the healthy side... --> </span>
			</div>
			<div class="clr"></div>
			<div class="update_time">
				<span class="timeago" >{{feedbacks.updated_at | fromNow}}</span>
			</div>
		</div>
	</div>
	<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel"></span>
		</div>
</div>

