<div data-role="page" data-theme="b" id="home" ng-controller="homeController">
	<style>
.setting {
background-image: url(<%= asset_path 'sprite_mobile.png' %>
);
background-position: -197px -477px;
cursor: pointer;
float: right;
height: 57px;
width: 56px;
}

/*.feedback {
background-image: url(
);
background-position: -135px -373px;
cursor: pointer;
height: 101px;
margin-left: 8%;
width: 102px;
}
.redeems {
background-image: url(
);
background-position: -237px -371px;
cursor: pointer;
height: 101px;
margin-left: 8%;
width: 118px;
}*/
.calender{
background-image: url(<%= asset_path 'sprite_mobile.png' %>
	);
	background-position: -257px -478px;
	cursor: pointer;
	float: right;
	height: 48px;
	margin-left: 8%;
	width: 50px;
	}
	</style>
	<div data-role="content">
		<div class="username">
			<div class="setting" ng-click="setting()"></div>
			<a ng-click="homeClk()">{{userName}}</a>
			<span class="role">{{role}}</span>
			<div class="clr"></div>
		</div>
		<div class="outerDiv">
			<div>
				<div class="number">
					255
				</div>
				<span class="points">POINTS</span>
				<div class="clr"></div>
			</div>
			<div class="menDiv">
				<div class="backColr">
					<div class="count">
						10
					</div>
					<div class="descript">
						Tips left
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						2400
					</div>
					<div class="descript">
						AED Saved
					</div>
				</div>
				<div class="backColr">
					<div class="count">
						60
					</div>
					<div class="descript">
						Redeems
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div class="whatLike">
				What would you like to do?
			</div>
			<div class="imgDiv">
				<div class="yellowBack" ng-click="feedback()">
					<div class="feedback">
						<%= image_tag 'feed1.png' %>
					</div>
					<span class="feedbackTxt">LEAVE FEEDBACK</span>
				</div>
				<div class="yellowBack">
					<div class="redeems">
						<%= image_tag 'feed2.png' %>
					</div>
					<span class="feedbackTxt">REDEEM POINTS</span>
				</div>
				<div class="clr"></div>
			</div>
			<div class="bottomDiv">
				<div class="recentActDiv">
					<div class="recentAct">
						RECENT ACTIVITY
					</div>
					<div class="actDate">
						05.03.2013
					</div>
					<div class="clr"></div>
				</div>
				<div class="calender"></div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
</div>
