<div data-role="page" class="main_content span12" data-theme="b" id="login" ng-controller="homeCtrl">
	<div class="innerDiv" data-role="content">
		<div class="span4 divLeft">
			<h1>Welcome </h1>
			<span ng-show="!outlets.length">You currently do not have any outlets in your account. Please add an outlet to start using Kanari.</span>

			<table ng-show="outlets.length" style="display: block">
				<tr >
					<th style="width:45%;text-align: left;font-size: 14px;"> Name Of Restaurant </th>
					<th style="width:40%;text-align: left;font-size: 14px;"> Name Of Manager </th>
					<th style="font-size: 14px;"> Disable </th>
				</tr>
				<tr ng-repeat="outlet in outlets">
					<td ><a href="#/create_outlet?outletId={{outlet.id}}">{{outlet.name}}</a></td>
					<td >{{outlet.manager.first_name}}</td>
					<td>
					<input type="checkbox" ng-show="outlet.disabled" checked ng-click="disableOutlet($event,outlet.id)" />
					<input type="checkbox" ng-hide="outlet.disabled" ng-click="disableOutlet($event,outlet.id)" />
					</td>
				</tr>
			</table>

			<a href="#/create_outlet" title="addRestaurant" class="addRestaurant"><%= image_tag "icon_new_restaurant_outlet.png" %>New Restaurant Outlet</a>
			<a style="margin-left: 10px;" href="#/list_payment_invoice" title="addRestaurant" class="addRestaurant"><%= image_tag "icon_new_restaurant_outlet.png" %>List Payment Invoices</a>
		</div>

		<div class="divRight" ng-include src ="'<%= asset_path 'rightSidePanel.html' %>'" ></div>
		<div class="clr"></div>
	</div>
</div>