<div id="landPage" data-role="page" ng-controller="commonCtrl">
	<div data-role="content">
		<div class="logo">
			<%= image_tag 'mobile_logo.svg' %>
		</div>
		<div class="signIn">
			<div class="userClick">
				
				<div class="socialBtn" align="center">
					<!-- <div class="logIn" ng-click="emailCLick()" align="center">
					LOGIN
					</div> -->
					<a class="roundBtn margnRght" ng-click="emailCLick()"><%= image_tag 'round_login.png' %></a>
					<a class="roundBtn margnLeft" ng-click="signUpCLick()"><%= image_tag 'round_signup.png' %></a>
					<!-- <a class="roundBtn"><%= image_tag 'round_leavefeedback.png' %></a> -->
					<!-- <div class="logIn" ng-click="signUpCLick()">
					SIGNUP
					</div>
					<div class="logIn" >
					LEAVE FEEDBACK
					</div> -->
					<div class="clr"></div>
				</div>
				<span class="code">Have a code?</span>
				<div id="leaveFeedback" ng-click="leaveFeedback()" >Leave Feedback</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
</div>