<div data-role="page" class="main_content span12" data-theme="b" id="paymentList" ng-controller="listPaymentInvoiceCtrl">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>List Of Payment Invoices</h1>
		<div class="acceptInv outerDiv">
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example"  name="listOfPay" class="row form-horizontal" ng-submit="list_payment_invoice(listOfPay)" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								Start Date
							</lable>
							<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="start_date" class="passwordTxt" placeholder="Start Date" required/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								End Date
							</lable>
							<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="end_date" class="passwordTxt" placeholder="End Date" required/>
						</div>
					</div>
					<div class="control-group" style="margin: 10px 0 0 145px;">
						<div class="controls">
							<button type="submit" class="btn">
								Submit
							</button>
							<button class="btn" disabled>
								Submit
							</button>

						</div>
					</div>
			</div>

			<table ng-show="InvoiceList.length" style="display: block">
				<tr>
					<th style="text-align: left;font-size: 14px;">Customer Id</th>
					<th style="font-size: 14px;"> Receipt Date </th>
					<th style="font-size: 14px;">Amount Paid</th>
				</tr>
				<tr ng-repeat="invoiceList in InvoiceList">
					<td>{{invoiceList.kanari_invoice_id}}</td>
					<td>{{invoiceList.receipt_date}}</td>
					<td>{{invoiceList.amount_paid}}</td>
				</tr>
			</table>
			</form>
			</button>
			<p ng-show="paymentInvoiceSuccess" style="">
				There is no payment invoice generated for this date.
			</p>
		</div>
	</div>
</div>
