<div data-role="page" data-theme="b" id="login" ng-controller="loginController">
	<div data-role="content">
		<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'icon_home.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv">
			<p class="alreadyUser">
				Already a user? Login to Kanari
			</p>
			<div data-role="fieldcontain" class="loginDiv">
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="email" name="txtUsername" ng-model="email" placeholder="Email address"/>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password"/>
				</div>
				<div data-role="fieldcontain" class="rememberMe">
					<fieldset data-role="controlgroup" class="chkbox">
						<input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" ng-model="remember" data-icon="check" />
						<label for="checkbox-1">Remember Me</label>
					</fieldset>
						<a data-role="none" class="forgotpass" ng-click="forgotPassword()">Forgot your password?</a>
					<div class="clr"></div>
				</div>
				<input type="button" class="loginBtn" ng-click="chkLogin()" data-inline="true" value="Login" />
				<p class="errorMsg" ng-show="erromsg">
					{{error}}
				</p>
			</div>
			<div class="border"></div>
			<div class="clr"></div>
			<div class="or">
				or
			</div>
			<input type="button" class="loginBtn" data-inline="true" value="LOGIN WITH FACEBOOK"/>
		</div>
		<div class="logo_btm">
			<%= image_tag 'login_bird.png' %>
		</div>
	</div>
</div>