<div data-role="page" data-theme="b" id="login" ng-controller="Login" class="main_content span12">
	<div class="innerDiv" data-role="content">
		<div class="loginDiv outerDiv">
			<h1>Sign In</h1>
			<div class="innerLoginDiv">
				<p class="alreadyUser">
					Already a user? Log in to Kanari
				</p>
				<!-- <form class="cmxform" id="commentForm" ng-submit="chkLogin(login)" name="login" ng-app>
					<input type="email" name="email" ng-model="email" placeholder="Email Address" required />
					<br/>
					<span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
					<span class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
					<input type="password" name="password" ng-model="password" placeholder="Password" required />
					<br/>
					<span class="help-inline" ng-show="submitted && form.password.$error.required">Required</span>
					<span class="help-inline" ng-show="submitted && form.password.$error.email">Invalid email</span>
					<input type="checkbox" name="chkrememberMe" ng-click="rememberMe(value,this)" id="checkbox-1" class="custom" ng-model="value" />
					<label for="checkbox-1">Remember Me</label>
					<br/>
					
					<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="submitted=true">
						Login
					</button>
				</form> -->

				<form ng-app="form-example" class="row form-horizontal" name="login" ng-submit="chkLogin(login)" novalidate>
					<div class="control-group">
						<div class="controls">
							<input type="email" id="inputEmail" placeholder="Email" ng-model="email" required>
							<div class="input-help">
								<h4>Invalid Email</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input ng-model="password" class="immediate-help" password-validate required type="password" id="inputPassword" placeholder="Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn">
								Login
							</button>
							<button class="btn" disabled>
								Login
							</button>
						</div>
					</div>
				</form>
				<p class="forgotPass">
					<a href="#/forgot_pass" >Forgot your password?</a>
				</p>
			</div>
		</div>
		<div class="logo_btm"></div>
	</div>
</div>
