<div ng-controller="MapCtrl" ng-controller="MapCtrl">
					<map id="map_canvas"></map>
					<div style="margin: 10px 20px;">
						<div class="addMarker">
							<button ng-click="addMark()" type="submit" class="enabel_Btn btn">
								Save
							</button>
							<button disabled class="disable_Btn btn">
								Save
							</button>
						</div>
						<div class="updateMarker">
							<button ng-click="addMark()" type="submit" class="btn">
								Save
							</button>
						</div>
						<p ng-show="successLocation" class="successMsg">
							Your location has been updated successfully.
						</p>
					</div>
				</div>