<div id="numericCode" align="center" ng-controller="numericCodeController" data-role="page">
	<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
	<div ng-show="codeGenerate" class="numericCodeContainer">
		<h1 align="center" class="numericTxt"> Please enter bill amount </h1>
		<div class="loaderDiv clearfix">
			<input type="number" class="billAmountTxtBox" maxlength="5" placeholder="Enter bill amount.." ng-model="billAmount">
			<div ng-show="loader" class="loader"><img src="/assets/ajax-loader.gif"></div>
		</div>
		<div ng-click="generateCode()">
			<button type="submit" class="signInBtn btn" >
				Generate Code
			</button>
		</div>
		<p ng-show="erromsg" class="errorMsg">
			{{error}}
		</p>
	</div>
	<div ng-show="codeGenerated" class="numericCodeContainer">
		<h1 align="center" class="numericTxt"> The Numeric Code is </h1>
		<div class="codeGenerated">
			{{code}}
		</div>
		<div class="doneOterDiv">
			<div>
				Please give this code to your Customer
			</div>
			<div ng-click="done()">
				<button type="button" class="signInBtn btn" >
					Done
				</button>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="dateTimeList">
		<div class="dateTimeListhead clearfix">
			<div class="col1 colBorderTop">
				Date & Time
			</div>
			<div class="col1 colBorderTop">
				Bill Size
			</div>
			<div class="col2 colBorderTop colBorderRight">
				Code
			</div>
		</div>
		<div class="dateTimeListRow clearfix">
			<div class="col1">
				25/06/2013
			</div>
			<div class="col1">
				350
			</div>
			<div class="col2 colBorderRight">
				14364
			</div>
		</div>
		<div class="dateTimeListRow clearfix">
			<div class="col1">
				25/06/2013
			</div>
			<div class="col1">
				350
			</div>
			<div class="col2 colBorderRight">
				14364
			</div>
		</div>
	</div>
</div>
