<div data-role="page" class="main_content span12" data-theme="b" id="paymentInvoice" ng-controller="paymentInvoiceCtrl">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Create Invitation</h1>
		<div class="acceptInv outerDiv" style="overflow: hidden;">
			<!-- <form  name="form" ng-app>
			<div data-role="fieldcontain" class="loginDiv">
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
			<input type="text" placeholder="Invoice Id" name="kanari_invoice_id" ng-model="kanari_invoice_id" required />
			<span class="help-inline" ng-show="submitted && form.kanari_invoice_id.$error.required">Required</span>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
			<input type="text" placeholder="Receipt Date" name="receipt_date" ng-model="receipt_date" required />
			<span class="help-inline" ng-show="submitted && form.receipt_date.$error.required">Required</span>
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
			<input type="number" placeholder="Amount Paid" name="amount_paid" ng-model="amount_paid" min="0" max="10000000"  required />
			<span class="help-inline" ng-show="submitted && form.amount_paid.$error.required">Required</span>
			<span class="help-inline" ng-show="submitted && form.amount_paid.$error.number">Invalid amount</span>
			</div>
			<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="payment_invoice()">
			Create Payment Invoice
			</button>
			</div>
			</form> -->
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example" class="row form-horizontal" name="login" ng-submit="payment_invoice()" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
							Invoice Id
						</lable>
							<input type="text" placeholder="Invoice Id" name="kanari_invoice_id" ng-model="kanari_invoice_id" required />
							<div class="input-help">
								<h4>Invalid Invoice Id</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
							Reciept Date
						</lable>
							<input type="number" placeholder="Receipt Date" name="receipt_date" ng-model="receipt_date" required />
							<div class="input-help">
								<h4>Invalid Date</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
							Invalid Amount
						</lable>
							<input type="number" placeholder="Amount Paid" name="amount_paid" ng-model="amount_paid" min="0" max="10000000"  required />
							<div class="input-help">
								<h4>Invalid Amount.</h4>
							</div>
						</div>
					</div>

					<div style="margin: 10px 0 0 145px;" class="control-group">
						<div class="controls">
							<button type="submit" class="btn">
								Create Payment Invoice
							</button>
							<button class="btn" disabled>
								Create Payment Invoice
							</button>
						</div>
					</div>
				</form>
				<p ng-show="paymentInvoiceSuccess">
					Payment Invoice Generated
				</p>
				<p ng-hide="paymentInvoiceSuccess"></p>
				<p class="errorMsg" ng-show="paymentInvoiceFail">
					Please fill the details
				</p>
				<p ng-hide="paymentInvoiceFail"></p>
			</div>
		</div>
	</div>
</div>