<div data-role="page" class="main_content span12" data-theme="b" id="paymentInvoice" ng-controller="paymentInvoiceCtrl">
	<style>
		.input-help {
			left: 438px;
		}
	</style>
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Create Payment Invoice</h1>
		<div class="acceptInv outerDiv" >
			<span class="mandatoryFld">
				<div class="startMsg">
					*
				</div> Indicates mandatory fields</span>
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example" class="row form-horizontal" name="paymentInvoice" ng-submit="payment_invoice(paymentInvoice)" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								Company Name<span class="star">*</span>
							</lable>
							<input type="text" placeholder="Company Name" name="currency" class="biginput" id="autocomplete">
							<div class="input-help">
								<h4>Invalid Invoice Id</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Outlet<span class="star">*</span>
							</lable>
							<select ng-model='formoutlet1' ng-change="selectOutlet()" required ng-options='outletsList.id as outletsList.name for outletsList in outletsList'>
								<option value="">Select Outlet</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Kanari Plan<span class="star">*</span>
							</lable>
							<select ng-model="kanari_plan" required>
								<option value="">Select Kanari Plan</option>
								<option value="3 Month Subscription">3 Month Subscription</option>
								<option value="6 Month Subscription">6 Month Subscription</option>
								<option value="12 Month Subscription">12 Month Subscription</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Invoice Number<span class="star">*</span>
							</lable>
							<input type="text" placeholder="Invoice Id" name="kanari_invoice_id" ng-model="kanari_invoice_id" required />

							<div class="input-help">
								<h4>Invalid Invoice Id</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Invoice Date<span class="star">*</span>
							</lable>
							<div class="input-append date"  id="receipt_date" data-date="13-08-2013" data-date-format="dd-mm-yyyy">
								<input id="sDate" class="span2" size="16" type="text" ng-model="endDate" placeholder="End Date" readonly>
								<span class="add-on"><i class="icon-th"></i></span>
							</div>
							<div class="input-help">
								<h4>Invalid Date</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Invoice Amount <span class="star">*</span>
							</lable>
							<input type="text" min="0" number-mask="" max="99" placeholder="Amount Paid" name="amount_paid" ng-model="amount_paid"   required />

						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Invoice PDF<span class="star">*</span>
							</lable>
							<input type="url" placeholder="Invoice PDF URL" name="invoice_pdf" ng-model="invoice_pdf"  required />
							<span class="invoicePdfUrl">
								e.g. http://kanari.neevtech.com
							</span>
						</div>
					</div>
					<div style="margin: 10px 0 0 145px;" class="control-group">
						<div class="controls">
							<button type="submit" class="btn">
								Create Payment Invoice
							</button>
							<button class="btn" disabled>
								Create Payment Invoice
							</button>
						</div>
						<p class="successMsg" ng-show="paymentInvoiceSuccess">
							Payment invoice has beed generated sucessfully.
						</p>
						<p class="errorMsg" ng-show="dateEntered">
							Please select reciept date.
						</p>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>