<div data-role="page" class="main_content span12" data-theme="b" id="paymentInvoice" ng-controller="paymentInvoiceCtrl">
	<style>
		.input-help{ left: 438px;}
	</style>
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Create Payment Invoice</h1>
		<div class="acceptInv outerDiv" >
			<span class="mandatoryFld"><div class="startMsg">*</div> Indicates mandatory fields</span>
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example" class="row form-horizontal" name="login" ng-submit="payment_invoice()" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								Invoice Id<span class="star">*</span>
							</lable>
							<input type="text" placeholder="Invoice Id" name="kanari_invoice_id" ng-model="kanari_invoice_id" required />
							
							<div class="input-help">
								<h4>Invalid Invoice Id</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Reciept Date<span class="star">*</span>
							</lable>
							<input type="number" placeholder="Receipt Date" name="receipt_date" ng-model="receipt_date" required />
							<div class="input-help">
								<h4>Invalid Date</h4>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Amount Paid<span class="star">*</span>
							</lable>
							<input type="text" min="0" number-mask="" max="99" placeholder="Amount Paid" name="amount_paid" ng-model="amount_paid"   required />
							
						</div>
					</div>

					<div style="margin: 10px 0 0 145px;" class="control-group">
						<div class="controls">
							<button type="submit" class="btn">
								Create Payment Invoice
							</button>
							<button class="btn" disabled>
								Create Payment Invoice
							</button>
						</div>
						<p ng-show="paymentInvoiceSuccess">
							Payment Invoice Generated
						</p>
						<p ng-hide="paymentInvoiceSuccess"></p>
						<p class="errorMsg" ng-show="paymentInvoiceFail">
							Please fill the details
						</p>
						<p ng-hide="paymentInvoiceFail"></p>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>