<div data-role="page" class="main_content span12" data-theme="b" id="paymentHistory" ng-controller="paymentHistoryCtrl">
	<style>
		.input-help {
			left: 225px;
		}
		.controls .successMsg {
			margin-bottom: 0;
		}
		.viewAccPage lable {
			width: 144px;
		}
		/*#divexample1 {
		 height: 100px;
		 overflow: auto;
		 }*/
		/*.nicescroll-rails{left: 726px !important;}*/
	</style>
	<div class="header_title">
		<span class="manager_outlet">Manage Account</span>
		<span class="arrow-right blank_span">&nbsp;</span>
		<span style="padding: 10px 20px;"><a href="#/outlet_manager">Outlet Managers</a></span>
		<span class="blank_span"><img src="assets/div_line_yellow.jpg" /></span>
		<span style="padding: 10px 20px;"><a href="#/view_account">Account Details</a></span>
		<span class="blank_span"><img src="assets/div_line_yellow.jpg" /></span>
		<span style="padding: 10px 20px;"><span class="outletM"><a href="#/payment_history">Payment History</a></span></span>
		<span class="blank_span"><img src="assets/div_line_yellow.jpg" /></span>
	</div>
	<div id="payment_history" class="viewAccPage" style="margin:10px 20px;">
		<span class="selectDate">Select date range:</span>
		<div class="input-append date"  id="payDate1" data-date="13-08-2013" data-date-format="dd-mm-yyyy">
			<input class="span2" size="16" type="text" ng-model="startDate"  placeholder="Start Date" readonly>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<div class="input-append date"  id="payDate2" data-date="13-08-2013" data-date-format="dd-mm-yyyy">
			<input id="sDate" class="span2" size="16" type="text" ng-model="endDate" placeholder="End Date" readonly>
			<span class="add-on"><i class="icon-th"></i></span>
		</div>
		<div class="clr"></div>
		<div class="paymentHistoryTbl">
			<div class="payHistoryHeader">
				<div class="headCol headCol1">
					Kanari Invoice Number
				</div>
				<div class="headCol headCol2">
					Reciept Date
				</div>
				<div class="headCol headCol3">
					Item Description
				</div>
				<div class="headCol headCol6">
					Kanari Plan
				</div>
				<div class="headCol headCol4">
					Amount Paid
				</div>
				<div class="border_right_none headCol headCol5">
					Link to PDF
				</div>
			</div>
			<div class="paymentHistoryData" ng-repeat="paymentHistory in paymentHistoryList" >
				<div class="dataCol headCol1">
					{{paymentHistory.kanari_invoice_id}}
				</div>
				<div class="dataCol headCol2">
					{{paymentHistory.receipt_date | date:'dd/MM/yyyy'}}
				</div>
				<div class="dataCol headCol3">
					{{paymentHistory.outlet_id}}
				</div>
				<div class="dataCol headCol6">
					{{paymentHistory.kanari_plan}}
				</div>
				<div class="dataCol headCol4">
					<span>{{paymentHistory.amount_paid}}&nbsp;</span>AED
				</div>
				<div class="border_right_none dataCol headCol5">
					<a target="_blank" href="{{paymentHistory.invoice_url}}"><img src="assets/icon_pdf.png" /></a>
				</div>
			</div>
		</div>
	</div>
</div>
