<div id="redeme" align="center" ng-controller="redemeController" data-role="page">
		<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
		<div class="redemptionsList">
			<div class="redemptionsListRow clearfix">
				<div class="col1">Aadil</div>
				<div class="col2">Dhs 27</div>
				<div class="col3"><span>Confirm</span></div>
			</div>
			<div class="redemptionsListRow clearfix">
				<div class="col1">Aadil</div>
				<div class="col2">Dhs 27</div>
				<div class="col3"><span>Confirm</span></div>
			</div>
			<div class="redemptionsListRow clearfix">
				<div class="col1">Aadil</div>
				<div class="col2">Dhs 27</div>
				<div class="col3"><span>Confirm</span></div>
			</div>
			<div class="redemptionsListRow clearfix">
				<div class="col1">Aadil</div>
				<div class="col2">Dhs 27</div>
				<div class="col3"><span>Confirm</span></div>
			</div>
		</div>
</div>