<div id="redeme" align="center" ng-controller="redemeController" data-role="page">
		<div ng:include="'<%= asset_path 'tablet_header.html' %>'"></div>
		<div class="redemptionsList">
			<div class="redemptionsListRow">
				<div class="col1">test</div>
				<div class="col2">test</div>
				<div class="col3">test</div>
			</div>
		</div>
</div>