<div data-role="page" data-theme="b" id="redeemPoints" ng-controller="redeemPointsController">
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				REDEEM POINTS
			</div>
			<div class="clr"></div>
		</div>
		<div class="outerDiv" align="center">
			<div>
				<div>
					You have
				</div>
				<div class="number">
					{{points}}
				</div>
				<span class="points">POINTS</span>
				<div class="clr"></div>
			</div>
			<div class="line"></div>
		</div>
		<div class="instructionDiv" align="center">
			<div class="instruction">
				Fill the amount you want to redeem at the selected restaurant
			</div>
			<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
				<input data-theme="a" data-inline="true" type="number" name="txtPassword" ng-model="amount" class="passwordTxt" placeholder="Amount"/>
			</div>

			<span ng-show="successMsg" class="succMsg">{{success}}</span>
			<span class="errorMsg" ng-show="erromsg">{{error}}</span>
		</div>
		<div class="footerDiv">
			<div class="prev" ng-click="previous()">
				<%= image_tag 'y_arrow_left.png' %>
				<div class="prevTxt">
					PREVIOUS
				</div>
			</div>
			<div class="nxt" ng-click="confirmRedeem()" style="padding: 0.85em 0;">
				<div class="nxtTxt" >
					REDEEM POINTS
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
</div>
