<div data-role="page" data-theme="b" id="login" ng-controller="resetPassController">
	<div data-role="content">
		<div class="homeImg" align="center">
			<%= image_tag 'icon_home.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv loginDiv">
			<div class="outerDiv loginDiv">
				<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="New Password"/>
				</div>
				<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>
				<input type="button" class="loginBtn" ng-click="resetPass()" data-inline="true" value="Reset Password" />
			</div>
			<p class="errorMsg" ng-show="erromsg">
				Password not matched.
			</p>
		</div>
	</div>
</div>
