<div data-role="page" class="main_content span12" data-theme="b" id="resetpass" ng-controller="resetPassCtrl">
	<div class="loginDiv innerDiv" data-role="content">
		<h3>Reset Your Password</h3>
		<div class="acceptInv outerDiv">
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form  name="resetPass" ng-submit="reset_Pass(resetPass)" ng-app>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<lable >
							Password
						</lable>
						<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="New Password" required/>
					</div>
					<div class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ui-body-a">
						<lable >
							Confirm Password
						</lable>
						<input data-theme="a" data-inline="true" type="password" name="txtResetPassword" ng-model="confirmpassword" class="passwordTxt" placeholder="Confirm Password" required/>
					</div>
					<div style="margin: 10px 0 0 145px;">
						<button type="submit" class="submitBtn btn btn-primary btn-large" ng-click="BackLink()" >
							Reset Password
						</button>
						<p class="errorMsg" ng-show="erromsg">
							{{errormessage}}
						</p>
						<p class="successMsg" ng-show="success">
							Password changed successfully.
						</p>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>