<div data-role="page" class="main_content span12" data-theme="b" id="resetpass" ng-controller="resetPassCtrl">
	<div class="loginDiv innerDiv" data-role="content">
		<h1>Reset Your Password</h1>
		<div class="acceptInv outerDiv">
			<div data-role="fieldcontain" class="innerLoginDiv" style=" width: 41%;">
				<form ng-app="form-example" class="row form-horizontal" name="resetPass" ng-submit="reset_Pass(resetPass)" novalidate>
					<div class="control-group">
						<div class="controls">
							<lable >
								New Password
							</lable>
							<input ng-model="password" class="" password-validate required type="password" id="inputPassword" placeholder="New Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<lable >
								Confirm Password
							</lable>
							<input ng-model="confirmpassword" class="" password-validate required type="password" id="confirmpassword" placeholder="Confirm Password">
							<div class="input-help">
								<h4>Password must meet the following requirements:</h4>
								<ul>
									<li ng-class="pwdHasLetter">
										At least <strong>one letter</strong>
									</li>
									<li ng-class="pwdHasNumber">
										At least <strong>one number</strong>
									</li>
									<li ng-class="pwdValidLength">
										At least <strong>8 characters long</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clr"></div>
					<div class="control-group" style="margin: 10px 0 0 145px;">
						<div class="controls">
							<button type="submit" class="btn">
								Reset Password
							</button>
							<button class="btn" disabled>
								Reset Password
							</button>
							<p class="errorMsg" ng-show="erromsg">
								{{errormessage}}
							</p>
							<p class="successMsg" ng-show="success">
								Password changed successfully.
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>