<div  ng-controller="rightSideCtrl">
<span>Take the tour</span>
			<ul class="taketour">
				<li data-ng-class="{active:kanariWorks,create_outlet:true }">
					<a ng-click="changeTab('kanariWorks')">How Kanari Works?</a>
				</li>
				<li data-ng-class="{active:register,create_outlet:true }">
					<a ng-click="changeTab('register')">How to Register?</a>
				</li>
				<li data-ng-class="{active:srchRestaurant,create_outlet:true }">
					<a ng-click="changeTab('srchRestaurant')">Search Restaurants?</a>
				</li>
				<li data-ng-class="{active:deals,create_outlet:true }">
					<a ng-click="changeTab('deals')">Available Deals?</a>
				</li>
			</ul>
	</div>	