<div data-role="page" data-theme="b" id="settings" ng-controller="settingsController">
	<div data-role="content">
		<div class="username">
			<div class="signUp">
				SETTINGS!
			</div>
		</div>
		
	</div>
</div>
