<ul class="">
	<li>
		<a href="#">
			<%= image_tag 'icon_profile.png' %>
			Profile<br/>
			<span>Name, Description and contact info</span>
		</a>
	</li>
	<li>
		<a href="#">
			<%= image_tag 'icon_location.png' %>
			Location<br/>
			<span>Specifi the exact location of your outlet</span>
		</a>
	</li>
	<li>
		<a href="#">
			<%= image_tag 'icon_permissions.png' %>
			Permission<br/>
			<span>Set user permissions for your staff</span>
		</a>
	</li>
	<li>
		<a href="#">
			<%= image_tag 'icon_reports.png' %>
			Reports	<br/>		
			<span>Who gets the reports and hoe often</span>
		</a>
	</li>
</ul>