<div data-role="page" data-theme="b" id="signUp" ng-controller="signUpController">
	<div data-role="content">
		<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'icon_home.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv">
			<p class="alreadyUser">
				New to Kanari? Sign up
			</p>

			<div data-role="fieldcontain" class="loginDiv">
				<div class="ui-input-text ui-body-a nameContainer">
					<input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
					<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name" style="margin-left:2%!important"/>
					<div class="clr"></div>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email"/>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password"/>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confPassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>

				<input type="button" class="signBtn" ng-click="signUp()" data-inline="true" value="Sign Up" />
				<p class="errorMsg" ng-show="errorMsg">
					{{error}}
				</p>
				<div class="border"></div>
				<div class="clr"></div>
				<div class="or">
					or
				</div>
				<!-- <div class="loginFb">
				<div class="fbIcon">
				<%= image_tag 'icon_fb.png' %>
				</div>
				<div style="font-size: 1em;">
				LOGIN WITH FACEBOOK
				</div>
				</div> -->
				<div class="fblogin clr">
					<%= image_tag 'icon_f.png' %>
					<div>
						LOGIN WITH FACEBOOK
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- <div data-role="page" data-theme="b" id="signUp" ng-controller="signUpController">
<div data-role="content">
<div class="username">
<div class="signUp">
Kanari Sign Up
</div>
</div>
<div class="outDiv">
<div>
Please enter the details below
</div>
<div data-role="fieldcontain" class="signUpDiv">
<div class="ui-input-text ui-body-a">
<input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
</div>
<div class="ui-input-text ui-body-a">
<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name"/>
</div>
<div class="ui-input-text ui-body-a">
<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email"/>
</div>
<div class="ui-input-text ui-body-a">
<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password"/>
</div>
<div class="ui-input-text ui-body-a">
<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confPassword" class="passwordTxt" placeholder="Confirm Password"/>
</div>
<input type="button" class="signBtn" ng-click="signUp()" data-inline="true" value="Sign Up" />
<input type="button" class="cancelBtn" ng-click="cancel()" data-inline="true" value="Cancel" />
<p class="errorMsg" ng-show="errorMsg">
{{error}}
</p>
</div>
</div>
</div>
</div> -->