<div data-role="page" data-theme="b" id="signUp" ng-controller="signUpController">
	<div data-role="content">
		<div class="homeImg" align="center" ng-click="home()">
			<%= image_tag 'ic_home_white.png' %>
		</div>
		<div class="clr"></div>
		<div class="outerDiv">
			<p class="alreadyUser" ng-show="message">
				New to Kanari? Sign up
			</p>
			<p class="alreadyUser" ng-show="feedBackMsg">
				Thank you for leaving feedback. Sign up for earning points on your feedback
			</p>
			<div data-role="fieldcontain" class="loginDiv">
				<div class="ui-input-text ui-body-a nameContainer" style="margin-right:2%!important">
					<input data-theme="a" data-inline="true" type="text" name="txtUsername" ng-model="firstName" placeholder="First Name"/>
				</div>
				<div class="ui-input-text ui-body-a nameContainer">
					<input data-theme="a" data-inline="true" type="text" name="txtPassword" ng-model="lastName" class="passwordTxt" placeholder="Last Name"/>
			
				</div>
						<div class="clr"></div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="email" name="txtPassword" ng-model="email" class="passwordTxt" placeholder="Email"/>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="password" class="passwordTxt" placeholder="Password"/>
				</div>
				<div class="ui-input-text ui-body-a">
					<input data-theme="a" data-inline="true" type="password" name="txtPassword" ng-model="confPassword" class="passwordTxt" placeholder="Confirm Password"/>
				</div>

				<input type="button" class="signBtn" ng-click="signUp()" data-inline="true" value="SIGN UP" />
				<p class="errorMsg" ng-show="errorMsg">
					{{error}}
				</p>
				<!-- <div class="border"></div> -->
				<div class="clr"></div>
				<div class="or">
					or
				</div>
				<div class="fblogin clr" ng-click="Facebook.login()">
					<%= image_tag 'icon_f.png' %>
					<div>
						SIGN UP WITH FACEBOOK
					</div>
				</div>
			</div>
		</div>
		<div class="logo_btm">
			<%= image_tag 'login_bird.png' %>
		</div>
	</div>
</div>
