<div id="signIn" align="center" ng-controller="signInController" data-role="page">
	<div class="logo">
		<%= image_tag 'logo_tablet.png' %>
	</div>
	<h1 class="loginTxt"> Log in to Kanari </h1>
	<div class="signInForm">
		<span class="arrow-up"><%= image_tag 'arrowa.png' %></span>
		<div>
			<input type="text" onfocus="this.type='number';" placeholder="Tablet Login" ng-model="email">
		</div>
		<div>
			<input type="password" placeholder="Password" ng-model="password">
		</div>
		<fieldset class="rememberMe" data-role="controlgroup">
			<input type="checkbox" name="chkrememberMe" id="checkbox-1" class="custom" ng-model="rememberMe" />
			<label for="checkbox-1">Remember me</label>
		</fieldset>
		<div ng-click="chkLogin()">
			<button type="submit" class="signInBtn btn">
				Login
			</button>
		</div>
	</div>
	<p ng-show="erromsg" class="errorMsg">
		{{error}}
	</p>
</div>