<div id="signIn" align="center" ng-controller="signInController" data-role="page">
	<div class="logo">
		<%= image_tag 'logo_tablet.png' %>
	</div>
	<h1 class="loginTxt"> Log in to Kanari </h1>
	<div class="signInForm">
		<span class="arrow-up"><%= image_tag 'arrowa.png' %></span>
		<div>
			<input type="text" class="ui-input-text" placeholder="Tablet Login" ng-model="email">
		</div>
		<div>
			<input type="password" class="ui-input-text" placeholder="Password" ng-model="password">
		</div>
		
		<div class="checkboxFive">
			<input type="checkbox" value="1" id="checkboxFiveInput" name="" />
			<label for="checkboxFiveInput"></label>
		</div>
		<div class="rememberMe">
			<!-- <input type="checkbox" name="chkrememberMe" id="checkbox-1" class="custom" ng-model="rememberMe" />
			 --><label for="checkbox-1">Remember me</label>
		</div>
		<div class="clr"></div>
		<div ng-click="chkLogin()" class="ui-btn">
			<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"> Login </span></span><button class="signInBtn btn ui-btn-hidden" type="submit"></button>
		</div>
	</div>
	<p ng-show="erromsg" class="errorMsg">
		{{error}}
	</p>
</div>