<div data-role="page" data-theme="b" id="transaction_history" ng-controller="transactionHistoryController">
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp">
				SETTINGS
			</div>
			<div class="clr"></div>
		</div>
		<div data-role="fieldcontain" class="profileText" align="center">
			<h2>TRANSACTION HISTORY</h2>
			<div class="clr"></div>
		</div>
		<div class="headDiv">
			<div class="headTitle dateTitle">
				<span>DATE</span>
			</div>
			<div class="headTitle restaurantTitle">
				<span>RESTAURANT</span>
			</div>
			<div class="headTitleLast pointsTitle">
				<span>POINTS</span>
			</div>
			<div class="clr"></div>
		</div>
		<div class="historyDataContainer">
			<div class="contentText dateContent">
				<span>05.03.2013</span>
			</div>
			<div class="contentText restaurantText">
				<span>Pavillion</span>
			</div>
			<div class="contentText pointsTitle">
				<span><b>100</b> earned</span>
			</div>
			<div class="clr"></div>
		</div>
		<div class="historyDataContainer">
			<div class="contentText dateContent">
				<span>05.03.2013</span>
			</div>
			<div class="contentText restaurantTitle">
				<span>Pavillion</span>
			</div>
			<div class="contentText pointsTitle">
				<span><b>100</b> earned</span>
			</div>
			<div class="clr"></div>
		</div>
		<div class="historyDataContainer">
			<div class="contentText dateContent">
				<span>05.03.2013</span>
			</div>
			<div class="contentText restaurantTitle">
				<span>Pavillion</span>
			</div>
			<div class="contentText pointsTitle">
				<span><b>100</b> earned</span>
			</div>
			<div class="clr"></div>
		</div>
		<div class="footerDiv">
			<div class="prev" ng-click="previous()">
				<%= image_tag 'y_arrow_left.png' %>
				<div class="prevTxt" >
					BACK
				</div>
			</div>
			<!-- <div class="clr"></div> -->
		</div>
	</div>
</div>
