<div data-role="page" data-theme="b" id="transaction_history" ng-controller="transactionHistoryController">
	<div data-role="content">
		<div class="username">
			<div class="home" ng-click="home()"></div>
			<div class="signUp" style="margin:3% 14% 0 0;">
				SETTINGS
			</div>
			<div class="clr"></div>
		</div>
		<div data-role="fieldcontain" class="profileText" align="center">
			<span>TRANSACTION HISTORY</span>
			<div class="clr"></div>
		</div>
		<div class="headDiv">
			<div class="headTitle dateTitle">
				<span>DATE</span>
			</div>
			<div class="headTitle restaurantTitle">
				<span>RESTAURANT</span>
			</div>
			<div class="headTitleLast pointsTitle">
				<span>POINTS</span>
			</div>
			<div class="clr"></div>
		</div>
		<div class="transactionHistory">
		<div ng-repeat="transactionHistory in transactionHList" class="historyDataContainer">
			<div class="contentText dateContent">
				<span>{{transactionHistory.updated_at | date:'dd.MM.yyyy'}}</span>
			</div>
			<div class="contentText restaurantText">
				<span>{{transactionHistory.outlet_name}}</span>
			</div>
			<div class="contentText pointsTitle">
				<div class="point" ng-switch on="transactionHistory.type"> 
					<span ng-switch-when="Feedback"><b>{{transactionHistory.points}}</b> earned</span>
					<span ng-switch-when="Redemption"><b>{{transactionHistory.points}}</b> redeemed</span>
				</div>
			</div>
			<div class="clr"></div>
		</div>
		</div>
		
	</div>
	<div class="footerDiv" data-role="footer">
			<div class="prev" ng-click="previous()">
				<%= image_tag 'y_arrow_left.png' %>
				<div class="prevTxt" >
					BACK
				</div>
			</div>
			<!-- <div class="clr"></div> -->
		</div>
</div>
