<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanari</title>
    <meta name="description" content="Kanari">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <div id="main" role="main">
      HELLO WORLD!
    </div> <!--! end of #main -->
  </body>
</html>
